<tr ng-if="item.gene_name">
    <td class="search-result-column-expanded-entry-cell feature_expanded_header"><strong>Gene Name:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.gene_name}}</td>
</tr>
<tr ng-if="item.taxonomy">
    <td class="search-result-column-expanded-entry-cell feature_expanded_header"><strong>Taxonomy:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.taxonomy}}</td>
</tr>
<tr ng-if="item.roles">
    <td class="search-result-column-expanded-entry-cell feature_expanded_header"><strong>Roles:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.roles}}</td>
</tr>
<tr ng-if="item.protein_families">
    <td class="search-result-column-expanded-entry-cell feature_expanded_header"><strong>Protein Families:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.protein_families}}</td>
</tr>
<tr ng-if="item.feature_publications">
    <td class="search-result-column-expanded-entry-cell feature_expanded_header"><strong>Protein Publications:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.feature_publications}}</td>
</tr>
<tr ng-if="item.cs_db_version">
    <td class="search-result-column-expanded-entry-cell feature_expanded_header"><strong>KBase DB Version:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.cs_db_version}}</td>
</tr>                    
