<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 media_id_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">                
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['media_id']}"><strong>Media Id</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['media_id'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['media_id'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['media_id'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['media_id'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'media_id', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'media_id', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'media_id', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 media_name_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['media_name']}"><strong>Name</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['media_name'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['media_name'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['media_name'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['media_name'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'media_name', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'media_name', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort reverse alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'media_name', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 number_of_compounds_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['number_of_compounds']}"><strong>%GC</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['number_of_compounds'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['number_of_compounds'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['number_of_compounds'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['number_of_compounds'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_compounds', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_compounds', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'number_of_compounds', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 media_type_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['media_type']}"><strong>Contigs</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['media_type'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['media_type'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['media_type'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['media_type'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'media_type', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'media_type', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'media_type', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 is_minimal_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['is_minimal']}"><strong>Minimal</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['is_minimal'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['is_minimal'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['is_minimal'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['is_minimal'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'is_minimal', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'is_minimal', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'is_minimal', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 is_defined_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['is_defined']}"><strong>Defined</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['is_defined'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['is_defined'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['is_defined'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['is_defined'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'is_defined', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'is_defined', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'is_defined', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 is_aerobic_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['is_aerobic']}"><strong>Aerobic</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['is_aerobic'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['is_aerobic'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['is_aerobic'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['is_aerobic'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'is_aerobic', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'is_aerobic', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'is_aerobic', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
