@import url("//fonts.googleapis.com/css?family=Roboto");

/* --- KBase method list styles --*/

.kb-method-list-logo {
    width:  30pt;
    height: 30pt;
    color:  #fff;
    background-color: #607D8B;
    border-style:  solid;
    border-width:  0px;
    border-color:  #555;
    text-align: center;
    display: inline-block;
    padding-top: 6pt;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: -1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
    cursor: pointer;
}

.kb-method-list-logo:hover {
	border-width: 5px;
	padding-top: 2.5pt;
}

.kb-method-list-more-div {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    text-align: justify;
}

.kb-method-list-more-div > div:nth-child(2) {
	text-align: right;
}

.kb-narr-side-panel {
    margin-bottom: 5px;
}

.kb-narr-side-panel .kb-title {
    padding: 10px 5px;
    font-size: 14pt;
    font-family: "OxygenBold", Arial, sans-serif;
    text-transform: uppercase;
    color: #2e618d;
    /*border-bottom: 1px solid #CECECE;*/
}


/* For connecting lines */
.kb-line {
    background-color: lightgrey;
    position: absolute;
}



/*****************************************************************************
 ** Formerly in kbaseNarrFunc.css
 *****************************************************************************/
/*
 * Styles for KBase Narrative notebook page, function panel
 */
 /* Header for panel */
 .kb-function-header {
    padding: 10px 0;
    color: #0064b6;
    font-weight: bold;
    background-color: #b6e9f8;
    text-align: center;
    margin-bottom: 3px;
}

.kb-narr-panel-body {
    padding: 3px;
    overflow-y: auto;
}

.kb-narr-panel-toggle {
    margin-right: 4px;
    margin-top: -4px;
    cursor: pointer;
    color: #888;
    -webkit-user-select: none; /* Chrome/Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
}

/* Container for func list */
.kb-function-body {
    height: 45%;
    max-height:45%;
    overflow-y: auto;
    width: 100%;
}

.kb-function-body .accordion .panel .panel-body {
    padding: 0px;
    padding-left: 5px;
}

.kb-function-body ul {
    border: 1px solid #dddddd;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.kb-function-body li {
    padding: 5px 5px;
    width: 100%;
    text-align: left;
}

/* alt. rows */
.kb-function-body li:nth-child(odd) {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.kb-function-body li:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.kb-function-body li:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #F4F5D6;
}


/* Link to a function */
.kb-function-body a {
    text-decoration: none;
}
.kb-function-body a:hover {
    text-decoration: none;
}

.kb-function-error {
    background-color: #f2dede !important;
    color: #b94a48;
    border-color: #eed3d7 !important;
}

/* Help on a function */
.kb-function-help {
    padding: 0 3px;
    float: right;
    cursor: pointer;
    color: #56559e;
    font-size: 14pt;
}

.kb-function-help:hover {
    color: black;
}

.kb-function-help-popup {
    position: absolute;
    top: 0px;
    left: 300px;
    z-index: 99;
    cursor: pointer;
    max-width: 300px;
}

.kb-function-help-popup h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

.kb-function-help-popup h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    text-align: right;
    font-weight: 100;
}

.kb-function-help-popup .header {
    background-color: #fff;
    color: #3076A2;
    font-weight: bold;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

.kb-function-help-popup a {
    font-weight: bold;
    text-decoration: underline;
}

.kb-function-help-popup .version {
    font-size: 80%;
    color: #666;
}

.kb-function-help-popup .body {
    margin-top: 10px;
    margin-bottom: 10px;
}

#kb-function-help {
    position: absolute;
    top: 400px;
    left: 300px;
    z-index: 99;
    cursor: pointer;
    width: 250px;
}

#kb-function-help h1 {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 110%;
    color: #3076A2;
}

#kb-function-help h2 {
    margin: 10px 0 -10px 0;
    padding-top: 5px;
    font-size: 80%;
    color: #999;
    font-style: italic;
    text-align: right;
    font-weight: 100;
}

#kb-function-error-traceback {
    white-space : nowrap;
    float : left;
    max-width : 250px;
    overflow-x : scroll;
}

.kb-function-dim {
    background-color: #aaa !important;
    border-color: #aaa !important;
}

.kb-function-dim .panel-heading {
    background-color: #444 !important;
    border-color: #000 !important;
}

.kb-function-cat-dim {
    background-color: #ddd !important;
    border-color: #ddd !important;
}

.kb-function-cat-dim .panel-heading {
    background-color: #ddd !important;
    border-color: #ddd !important;
}

.kb-function-toggle {
    color: #0088cc;
    font-style: italic;
    cursor: pointer;
}

/** new method parameter styling **/
.kb-method-parameter-panel {
   border-left: 3px solid #fff;
}
.kb-method-parameter-panel-hover {
   border-left: 3px solid #428bca;
}
.kb-method-parameter-row {
   margin:0px;
   padding:5px;
   border-radius:5px;
}
/* for some reason, the css :hover doesn't work right on this div, so we use jquery to toggle this class */
.kb-method-parameter-row-hover {
   background:#F9F9F9;
}

.kb-method-parameter-row-error {
   background: #f2dede;
}
.kb-method-parameter-error-mssg {
   padding:5px;
   text-align:center;
   font-family: 'OxygenBold', sans-serif;
   font-weight: bold;
   font-size: 9pt;
   color:#F44336;
}


/* not sure how to get text in these divs to valign middle... */
.kb-method-parameter-name {
   font-family: 'OxygenBold', sans-serif;
   color:#777;
   text-align:right;
   vertical-align:middle;
   margin-top:3px;
   padding-right:0px;
   padding-left:0px;
}
.kb-method-parameter-input {
   vertical-align:middle;
   white-space: nowrap;
   padding-left:10px;
}
.kb-method-parameter-input input {
   font-weight: bold;
}
.kb-parameter-data-selection {
   font-weight: bold;
}

.kb-method-parameter-hint {
   color: #777;
   text-align:left;
   margin-top:3px;
}

.kb-method-parameter-required-glyph {
   color: #F44336;
   margin-left:7px;
}
.kb-method-parameter-accepted-glyph {
   color: #4BB856;
   margin-left:7px;
}

.kb-method-parameter-info {
   color: #777;
   margin-left:7px;
}

.kb-parameter-data-row-remove {
   color: #777;
}
.kb-parameter-data-row-add {
   color: #777;
}


.kb-method-advanced-options-controller-inactive {
   font-family: 'OxygenBold', sans-serif;
   font-style: italic;
   font-size: 10pt;
   line-height: 14px;
   color: #777;
   text-align: center;
}
.kb-method-advanced-options-controller {
   font-family: 'OxygenBold', sans-serif;
   cursor:pointer;
   font-style: italic;
   font-size: 10pt;
   line-height: 14px;
   color: #0088cc;
   text-align: center;
}
.kb-method-advanced-options-controller:hover {
    color: #2a6496;
}


/* -- App/method panel styling --*/

.kb-app-panel {
    border:0;
    border-top: 1px solid #CECECE;
    border-radius: 1px;
}

.kb-app-error {
    background-color: #F2DEDE;
}

.app-panel-heading {
    padding-top: 20px;
}

.app-panel-heading h1 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
    opacity: inherit;
    display: inline;
}
.kb-app-step-container {
    margin-top: 6px;
}
.kb-app-panel > .panel-footer {
    border: 0;
    border-radius: 1px;
}

.kb-app-func-panel {
}

.kb-app-panel-description {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 12pt;
    line-height: 15px;
    color: #2E618D;
    margin: 3px;
}
.kb-app-step-error-mssg {
   font-family: sans-serif;
   font-size: 11pt;
   line-height: 14px;
   color: #A63232;
   text-align: left;
   pading-left:30px;
   margin:10px;
}
.kb-app-step-error-heading {
   font-family: 'OxygenBold', sans-serif;
   font-size: 13pt;
   line-height: 14px;
   color: #555;
   text-align: left;
   padding-left:5px;
   margin-top:20px;
}
.kb-app-step-error-main-heading {
   font-family: 'OxygenBold', sans-serif;
   font-size: 16pt;
   line-height: 18px;
   color:#555;
   /*background:#f2dede;*/
   text-align: left;
   padding-left:20px;
   margin-top:20px;
}

.kb-app-step-error {
    border: 3px solid #D14836;
    border-radius: 5px;
    z-index: auto;
}

.kb-app-step-running {
    border: 3px solid #2196F3;
    border-radius: 5px;
    z-index: auto;
    /*animation: pulse 1s ease infinite;
    -webkit-animation: pulse 1s ease infinite; */
    /*opacity: 0.7;*/
}

/* -- "next steps" text and links -- */
.kb-app-next {
  border-top: 2px solid #CECECE;
}
.kb-app-next h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-style: italic;
  color: #888;
  float: left;
  padding: 0.5em 0 0.25em 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.25em;
}
.kb-app-next-hide {
  float: right;
  color: #2196F3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-top: 0.25em;
  margin-right: 0.5em;
}
.kb-app-next-unhide {
  color: #2196F3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-top: 0.25em;
}
.kb-app-next div { /* container for links */
  clear: both;
}

/* -- END method/app styling --*/

@-webkit-keyframes pulse {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

@keyframes pulse {
  0% { opacity: 1.0; }
  50% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

button.kb-app-run {
    background-color: #2196F3;
    border-radius: 1px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    moz-box-shadow: 1px 1px 1px #ccc;
}
button.kb-app-run:hover {
    background-color: #1E88E5;
}
button.kb-app-run.kb-app-cancel {
    background-color: #F44336;
}
button.kb-app-run.kb-app-cancel:hover {
    background-color: #E53935;
}


button.kb-method-run {
    background-color: #2196F3;
    border-radius: 1px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    box-shadow: 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    moz-box-shadow: 1px 1px 1px #ccc;
}
button.kb-method-run:hover {
    background-color: #1E88E5;
}


/***********
 * END of kbaseNarrFunc.css
 ***********/





/* default blue button in the new style */
.kb-primary-btn {
    background-color: #2196F3;
    border-radius: 1px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 3px;
    font-size: 14px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 400;
    box-shadow: 1px 1px 3px #aaa;
}
.kb-primary-btn:hover {
    background-color: #1E88E5;
}
.kb-primary-btn[disabled] {
    box-shadow: none;
    background-color: #BBDEFB;
    color: #fff;
}
/* gray button in the new style */
.kb-default-btn {
    background-color: #F5F5F5;
    border-radius: 1px;
    color: #555;
    border: none;
    padding: 10px 20px;
    margin: 3px;
    font-size: 14px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 400;
    box-shadow: 1px 1px 3px #aaa;
}
.kb-default-btn:hover {
    background-color: #CECECE;
}
.kb-default-btn[disabled] {
    box-shadow: none;
    color: #aaa;
}

.kb-btn-sm {
    padding: 5px 10px;
    font-size: 13px;
}



/* data list */
.kb-data-list-obj-row {
    transition: all 0.1s ease;

    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #fff;
    color:#333;
    margin:2px;
    padding:4px;
    margin-bottom: 5px;

    box-shadow: 1px 1px 1px 1px #fff;
    -webkit-box-shadow: 1px 1px 1px 1px #fff;
    moz-box-shadow: 1px 1px 1px 1px #fff;
}

.kb-data-list-obj-row:hover {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #4BB856;

    box-shadow: 1px 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px 1px #aaa;
    moz-box-shadow: 1px 1px 1px 1px #aaa;
}

.kb-data-list-obj-row-selected {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #4BB856;
    box-shadow: 1px 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px 1px #aaa;
    moz-box-shadow: 1px 1px 1px 1px #aaa;
}


.kb-data-list-obj-row-main {
    width:100%;
    margin:0px;
    padding:0px;
}

/* again the css hover over div inherits strangly, so we use js */
.kb-data-list-nav-buttons {
    padding: 5px 8px;
    font-size: 18px;
    border: none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    margin: 0;
}

.kb-data-list-add-data-button {
	
    cursor:pointer;
    background-color: #F44336;
    color: #fff;
    border: none;
    box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    moz-box-shadow: 1px 1px 3px #aaa;
    text-align: center;
    
    width:  30pt;
    height: 30pt;
    border-radius: 50%;
    padding-top: 5pt;
}
/* specialize buttons that hover over narrative */
#kb-add-code-cell, #kb-add-md-cell {
    box-shadow: #CECECE 2px 2px 1px;
    height: 40px;
    width: 40px;
    background-color: #2196F3;
    opacity: 0.5;
}
#kb-add-code-cell { right: 100px; }
#kb-add-md-cell { margin-right: 20px; }

.kb-data-list-add-data-button:hover {
    cursor:pointer;
    background-color: #DC3C31;
}

.kb-data-list-add-data-text-button {
    background-color: #F44336;
    border-radius: 1px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 3px;
    font-size: 14px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 400;
    box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    moz-box-shadow: 1px 1px 3px #aaa;
}
.kb-data-list-add-data-text-button:hover {
    background-color: #DC3C31;
}


/* buttons */
.kb-data-list-btn {
    background-color: #2196F3;
    border-radius: 1px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 13px;
    box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    moz-box-shadow: 1px 1px 3px #aaa;
    margin: 5px;
}
.kb-data-list-btn:hover {
    background-color: #1E88E5;
}
.kb-data-list-btn[disabled] {
    box-shadow: none;
    background-color: #BBDEFB;
    color: #fff;
}

.kb-data-list-cancel-btn {
    background-color: #F5F5F5;
    border-radius: 1px;
    color: #888;
    border: none;
    padding: 5px 10px;
    font-size: 13px;
    box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    moz-box-shadow: 1px 1px 3px #aaa;
    margin: 5px;
}
.kb-data-list-cancel-btn:hover {
    background-color: #CECECE;
}

.kb-data-list-row-hr {
    width:70%;
    margin: 2px;
}





.kb-data-list-logo {
    width:  30pt;
    height: 30pt;
    color:  #fff;
    background-color: #607D8B;
    border-radius: 50%;
    border-style:  solid;
    border-width:  0px;
    border-color:  #555;
    text-align: center;
    display: inline-block;
    padding-top: 6pt;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: -1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
}

/* Nudge the data icon a bit to the left or right */
.kb-data-icon-rnudge {
  margin-left: 3px;
}
.kb-data-icon-lnudge {
  margin-right: 3px;
}
.kb-data-icon-unudge {
  margin-bottom: 0.5em;
}
.kb-data-icon-dnudge {
  margin-top: 0.5em;
}

.kb-data-list-info {
}
.kb-data-list-name {
    color:#2e618d;
    font-size: 11pt;
    font-weight: bold;
    margin: 2px;
}

.kb-data-list-version {
    color:#777;
    font-size: 9pt;
    font-style: italic;
    white-space: nowrap;
    margin: 2px;
    cursor:default;
}
.kb-data-list-type {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 10px;
    cursor:default;
}
.kb-data-list-date {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 10px;
    white-space: nowrap;
    cursor:default;
}
.kb-data-list-edit-by {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 0px;
    white-space: nowrap;
    cursor: pointer;
}
.kb-data-list-edit-by:hover {
    color:#444;
}

.kb-data-list-narinfo {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 10px;
    cursor: pointer;
}
.kb-data-list-narinfo:hover {
    color:#444;
}

.kb-data-list-narrative-error {
    color:#F44336;
    font-size: 10pt;
    margin: 2px;
}

.kb-data-list-narrative {
    color:#777;
    font-size: 10pt;
    margin: 2px;
    margin-left: 10px;
    /* cursor:pointer; */
}
.kb-data-list-narrative:hover {
    /* narrative btn isn't a link yet, so don't highlight
     *color:#444;*/
}

.kb-data-list-more {
    color:#777;
    font-size: 8pt;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
    white-space: nowrap;
}
.kb-data-list-more-btn {
    padding: 2px 4px;
    font-size: 12px;
    border: none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    margin: 0;
}
.kb-data-list-more-div {
    color:#777;
    font-size: 10pt;
    margin: 2px;
}
.kb-data-list-more-div tr {
    color:#777;
    font-size: 10pt;
    margin: 2px;
}
.kb-data-list-more-div tr:hover {
    background-color: #eee;
}
.kb-data-list-more-div tr:nth-child(odd) {
    background-color: #F5F5F5;
}
.kb-data-list-more-div tr:hover:nth-child(odd) {
    background-color: #eee;
}
.kb-data-list-more-div th {
    color:#777;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    margin: 2px;
}
.kb-data-list-more-div td {
    color:#777;
    font-size: 10pt;
    text-align: left;
    margin: 2px;
    padding-left: 8px;
}


/* end data list*/

/* share panel styles */
.kb-share-user-permissions-dropdown {
    border-style:none;
    text-shadow: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    moz-box-shadow: none;
    padding:2px;
    width:auto;
    height:auto;
}

.kb-nar-manager-titles {
    font-family: 'OxygenBold';
    color:  #777;
    margin: 10px;
    margin-top: 20px;
    font-size: 14pt;
    font-weight: bold;
}


/* End kbaseData.css */



/* styling for data import overlay  */

.kb-import-content {
    position:relative;
    margin: 0 0 0 0px;
    overflow-x: hidden;
    overflow-y: auto;
    /*height: 830px;*/
    display: block;
}

.kb-overlay-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 50px;
}

.kb-overlay-footer .btn-primary,
.kb-overlay-footer .btn-default {
    margin: 15px 15px 0 0;
}


.kb-import-search {
    margin: 10px 40px 10px 10px;
}

.kb-import-filter {
    margin: 10px 40px 10px 10px;
}


.kb-import-item {
    margin: 0 20px 0px 5px;
    padding: 20px 0 0 0;
}

.kb-import-item:hover {
    background-color: #f8f8f8;
    -moz-box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}

.kb-import-item hr {
    width: 85%;
    border: 2px solid #eaeaea;
    margin-top: 15px; /*override*/
    margin-bottom: 0;
}
/*
.kb-import-item input[type="checkbox"] {
    margin: 15px 30px 15px 0px;
}*/

.kb-import-item .kb-import-checkbox {
    font-size: 1.5em;
    padding: 15px 20px 15px 20px;
    opacity: .4;
}

.kb-import-item .fa-check-square-o {
    opacity: 1.0 !important;
}


.kb-import-info {
    display: inline-block;
    margin: 10px 20px 0 0;
}

.kb-import-info span {
    font-size: .9em;
    font-weight: 700;
    color: #999;
}

.kb-import-info {
    font-weight: 700;
}

.kb-import-status {
    margin: 20px;
}



.kb-dataview-header-tbl tr{
    vertical-align: baseline;
}

.kb-dataview-header-tbl th, td {
    padding: 5px;
}


/* ICONS FROM NARRATIVE kbaseIcons.css */

@charset "UTF-8";

@font-face {
  font-family: "kbase-icons";
  src:url("../icons/custom_icons/kbase-icons.eot");
  src:url("../icons/custom_icons/kbase-icons.eot?#iefix") format("embedded-opentype"),
    url("../icons/custom_icons/kbase-icons.woff") format("woff"),
    url("../icons/custom_icons/kbase-icons.ttf") format("truetype"),
    url("../icons/custom_icons/kbase-icons.svg#kbase-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kbase-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kbase-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* NOTE: i really don't want to adjust font sizes, but for now these icons are only in one place on
 * the landing page and need to look right. By default, they are too small, and bumping them up to
 * larger makes them look different in firefox vs chrome; so yet another temporary hack -- mike*/

.icon-compare:before {
  content: "a";
  font-size: 24pt;
}
.icon-genome:before {
  content: "b";
  font-size: 24pt;
}
.icon-metabolism:before {
  content: "c";
  font-size: 24pt;
}
.icon-metagenome:before {
  content: "d";
  font-size: 24pt;
}
.icon-reads:before {
  content: "e";
  font-size: 24pt;
}
.icon-tree:before {
  content: "f";
  font-size: 24pt;
}

