/*** link styling ***/

a.search-selected-category-link { color: #468847; }
a.search-selected-category-link:link { color: #468847; }
a.search-selected-category-link:hover { color: #468847; }
a.search-selected-category-link:active { color: #468847; }
a.search-selected-category-link:visited { color: #468847; }

a.search-category-link {
/*    white-space: pre-wrap; */ /* css-3 */    
/*    white-space: -moz-pre-wrap; */ /* Mozilla, since 1999 */
/*    white-space: -pre-wrap; */ /* Opera 4-6 */    
/*    white-space: -o-pre-wrap; */ /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    padding-left: 0px;
}

a.search-checkbox-link { color: #555; }
a.search-checkbox-link:link { color: #555; }
a.search-checkbox-link:hover { color: #555; }
a.search-checkbox-link:active { color: #555; }
a.search-checkbox-link:visited { color: #555; }
a.search-checkbox-link.disabled { color: #eee; }

/*** general spacing ***/

/* Search view container */
.kbase-search-view {
  padding: 10px;
}

.search-categories-row > .tooltip.top.fade {
    margin-top: -30px;
}

.search-nowrap {
    white-space: nowrap;
}

.search-halfspace-right {
    margin-right: 0.5em;
}

.search-halfspace-left {
    margin-left: 0.5em;
}

.search-space-right {
    margin-right: 1em;
}

.search-space-left {
    margin-left: 1em;
}

.search-space-top {
    margin-top: 1em;
}

.search-space-bottom {
    margin-top: 1em;
}

.search-btn-position {
    min-width: 10px;
    max-width: 10px;
}

span .badge {
    margin: 5px;
}

.white {
    color: #fff;
}


.btn-filters {
    color: #c09853;
    background-color: #fcf8e3;
    display: block;
    word-wrap: break-word;
}

.btn-filters:focus,
.btn-filters:active,
.btn-filters.active {
    color: #c09853;
    background-color: #f6eaac;
}

.btn-search {
    background-color: #000;
    padding-bottom: 5px;
}

.btn-setcopy {
    color: #ffffff;
    background-color: #6f5499;
    padding-bottom: 5px;
}

.btn-setcopy.disabled {
    color: #999;
    background-color: #6f5499;
    padding-bottom: 5px;
}

.btn-setcopy:focus,
.btn-setcopy:active,
.btn-setcopy.active {
    color: #ffffff;
    background-color: #6f5499;
}


.btn-select-narrative {
    position: relative;
    font-size: 12px!important;
    left: -16px;
    top: -37px;
}


.pagination {
    display: inline-block;
    margin-left: -30px;
    margin-right: auto;
}

.fixed-pagination {
    margin-left: -30px;
}

.large-pagination {
    margin-left: -55px;
}

.small-pagination {
    margin-left: -30px;
}

.search-left-nav {
    padding: 0px;
}

.search-navbar-title {
    padding-left: 40px;
    font-size: 20px;
    color: gray;    
}

/*** Login ***/

.login-text {
    margin-left: -10px;
    padding-left: -10px;
}

.search-login {
    width: 220px;
    height: 60px;
    margin-bottom: 10px;
}

.search-logout {
    width: 220px;
    height: 60px;
    margin-bottom: 10px;
}

.searchbar-menu {
    width: 600px;
    background-color: transparent;
    background-size: 0px 0px;
    border-color: transparent;
    border-width: 0px;
    padding: 0px;
    top: 50px;
}

.searchbar-menu-content {
    width: 600px;
    height: 20px;
    background-color: white;
    border-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-bar {
    width: 600px;
    margin-left: 30px;
    margin-bottom: 10px;
}


/*** Workspace ***/

.search-workspace-menu {
    left: -125px;
    width: 400px;
}

.workspace-title h3 {
    font-size: 18px;
    color: gray;
    margin-bottom: 0px;
    margin-top: 10px;
}

.workspace-list {
    max-height: 200px;
}

.workspace-area {
    height: 400px;
    width: 246px;
    bottom: 0px;
}

.workspace-chosen {
    color: #c09853;
    background-color: #fcf8e3;
}

.search-leftarea-size {
    width: 220px;
    padding: 0px;
}



/*** Selections ***/
      
.search-selections-title h3 {
    font-size: medium;
    color: gray;
}

.search-selections-title {
    font-size: xx-large;
}


/*** Categories ***/

.search-categories {
    padding: 0px;
    margin-left: 0px;
}

.search-categories-title h3 {
    font-size: medium;
    color: gray;
}

.search-category-title {
    font-size: large;
}

.search-categories-row {
    padding: 0px;
    word-wrap: break-word;
}

/*** Filters ***/

.search-filters-title h3 {
    font-size: medium;
    color: gray;
}

.search-filter-remove-button {
    margin-bottom: 10px;
}

.search-filter-groups {
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-filter-collapse-icon {
    right: -8px;
    top: -2px;
}

.search-filter-count-badge {
    position: relative;
    bottom: 1px;
    background: #6f5499;
}

.filter-section {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 240px;
}

.panel-filter-heading {
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #fefcf5 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #fefcf5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf8e3', endColorstr='#fefcf5', GradientType=0);    
}

.panel-filter-content {
    border: 2px solid #fcf8e3;
}

a.search-filter-link { color: #6f5499; }
a.search-filter-link:link { color: #6f5499; }
a.search-filter-link:hover { color: #6f5499; }
a.search-filter-link:active { color: #6f5499; }
a.search-filter-link:visited { color: #6f5499; }

.panel-title.search-filter-title {
    font-size: 12px;
}

.glyphicon-large {
    font-size: large;
}


/*** Options ***/

.modal.search-transfer-modal .modal-dialog {
    width: 100%;
    height: 90%;
    padding: 0;
}


.search-cart-label {
    margin-right: 10px;
}

.search-transfer-workspace-area {
    padding: 0px;
}

.search-transfer-workspace-divider {
    padding: 0px;
}

.search-transfer-workspace-select {
    margin-bottom: 10px;
}

.search-transfer-modal .modal-content {
    height: 650px;
}


.search-transfer-modal .modal-body {
    height: 575px;
}


.search-transfer-modal .modal-footer {
    height: 75px;
}

.search-transfer-progress {
    margin-top: 20px;
    margin-right: 10px;
}

.search-transfer-row {
    margin-left: 10px;
}

.search-stage-transfer-buttons {
    position: relative;
    top: 140px;
}

table.search-transfer-table {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    display: block;
}

.table-striped > tbody > tr.search-duplicate-row > td {
    background-color: #6f5499;
    color: white;
}

.search-duplicate-icon {
    width: 15px;
    height: 15px;
    background-color: #6f5499;
    display: inline-block;
    margin-right: 10px;
}

.progress-bar {
    width: 0%;
}

.search-view-buttons {
    width: 80px;
    left: 662px;
}

.search-perpage-buttons {
    width: 140px;
    left: 652px;
}

.search-cart {
    font-size: 40px;
    line-height: 1.0;
}

.search-cart-count {
    position: relative;
    bottom: 4px;
}

/*** Results ***/

.search-column-name {
    margin-left: 0px;
    margin-right: 0px;
}

.search-column-name.search-sort-activated {
    color: #6f5499;
}

.search-sort-icon {
    bottom: 4px;
    font-size: large;
}

.search-sort-icon.glyphicon-sort-by-order {
    color: #6f5499;
}

.search-sort-icon.glyphicon-sort-by-order-alt {
    color: #6f5499;
}

.search-sort-icon.glyphicon-sort-by-alphabet {
    color: #6f5499;
}

.search-sort-icon.glyphicon-sort-by-alphabet-alt {
    color: #6f5499;
}

.search-sort-icon.glyphicon-sort-by-attributes {
    color: #6f5499;
}

.search-sort-icon.glyphicon-sort-by-attributes-alt {
    color: #6f5499;
}

.badge.search-sort-badge {
    top: -4px;
    background-color: #6f5499;
}

.search-cart-badge {
    margin-left: 0.5em;
    margin-bottom: 4px;
}

.search-results {
    padding: 0px;
    margin-left: 15px;
}

.search-results-toolbar {
    padding: 0px;
    width: 850px;
    margin-top: -30px;
    display: inline-block;
}

.search-results-counter {
    top: 10px;
    left: 1px;
    padding: 0px;
}

.search-results-scrollable {
    height: 400px;
    overflow: auto;
    padding-left: 15px;
}

.search-result-section {
    padding: 0px;
}

.search-results-select-category {
    margin: 30px;
}

.search-result-position {
    top: 1px;
    width: 50px;
    padding-right: 0px;
    padding-left: 0px;
}

.search-result-position-loggedOut {
    top: 1px;
    width: 70px;
    margin-right: 7px;
    padding-right: 0px;
    padding-left: 0px;
}


.search-result-select-all {
    width: 77px;
}

.search-result-row-even {    
    #background-color: #efefef;
    background-color: #f5f5f5;
    width: 100%;
}

.search-result-column {
    top: 1px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    word-wrap: break-word;
}

.search-result-column-set {
    margin-left: -15px;
    margin-right: 15px;
    width: 850px;
}


.search-result-column-expanded {
    #color: #3a87ad;
    background-color: #f2fbff;
    border-style: none;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.search-result-column-expanded-entry table{
    color: #3a87ad;
    #background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
    width: 80%;
    padding-bottom: 10px;
}

.search-result-column-expanded-entry-cell {
    color: #666666;
    #background-color: #d9edf7;
    padding-bottom: 10px;
    vertical-align:top;
}

.search-result-column-expanded-entry-cell pre {
    font-family: monospace;
    font-size: 12px;
    line-height: 12px;
}

.search-result-column-header {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
}

.search-result-column-header-row {
    min-height: 20px;
    margin-left: -15px;
    padding: 0px;
}

.search-result-column-header-group {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    border-radius: 8px;
}

.search-result-column-header-toggle,
.search-result-column-header-toggle:focus,
.search-result-column-header-toggle:active,
.search-result-column-header-toggle.active {
    width: 77px;
    height: 50px;
    padding-left: 3px;
    padding-right: 0px;
    display: block;
    border-width: 0px;
    color: #c09853;
    background-color: #fcf8e3;
    text-align: left;

    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #fefcf5 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #fefcf5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf8e3', endColorstr='#fefcf5', GradientType=0);        
}

.search-result-column-header-toggle.disabled {
    width: 77px;
    height: 50px;
    padding-left: 3px;
    padding-right: 0px;
    display: block;
    border-width: 0px;
    color: #c09853;
    #background-color: #fcf8e3;
    text-align: left;
}

.search-result-column-header-toggle:hover {
    width: 77px;
    height: 50px;
    padding-left: 3px;
    padding-right: 0px;
    display: block;
    border-width: 0px;
    color: #c09853;
    background-color: #F6EAAC;
    text-align: left;
}

.search-result-column-header-btn {
    width: 100%;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    border-width: 0px;
    color: #c09853;
    #background-color: #fcf8e3;
    text-align: left;

    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #fefcf5 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #fefcf5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf8e3', endColorstr='#fefcf5', GradientType=0);        
}

.search-result-column-header-btn.disabled {
    width: 100%;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    border-width: 0px;
    color: #c09853;
    background-color: #fcf8e3;
    text-align: left;
}

.search-result-column-header-btn:hover, 
.search-result-column-header-btn:focus,
.search-result-column-header-btn:active,
.search-result-column-header-btn.active,
.open .dropdown-toggle.search-result-column-header-btn {
    width: 100%;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    border-width: 0px;
    color: #c09853;
    #background-color: #F6EAAC;
    text-align: left;

    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #fefcf5 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #fefcf5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf8e3', endColorstr='#fefcf5', GradientType=0);        
}

.search-checkbox {
    padding-left: 0px;
    padding-right: 0px;
    width: 14px;
    height: 14px;
    margin-left: 3px;
    margin-right: 10px;
}

.search-results-content-area {
    width: 885px;
}

.search-result-row {
    margin-left: 0px;
    padding: 0px;    
    border-top: 1px solid #c09853;
}

.search-typedRecord {
    margin-left: 0px;
    margin-right: 0px;
}

/*
.search-typedRecord.ng-enter {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}
.search-typedRecord.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}
*/

.search-typedRecord-expanded {
    padding-left: 0px;
    margin-left: 77px;
    margin-top: 5px;
}

.search-typedRecord-expanded-header {
    padding-bottom: 10px;
}

.feature-scientific-name-header {
    width: 150px;
}

.feature-scientific-name {
    width: 140px;
    margin-right: 8px;
}

.genome-scientific-name-header {
    min-width: 330px;
}

.genome-scientific-name {
    min-width: 322px;
    margin-right: 8px;
}

.gwas-scientific-name-header {
    width: 169px;
}

.gwas-scientific-name {
    width: 158px;
    margin-right: 9px;
}


.toggle-expanded {
    width: 80px;
    min-height: 48px;
}

.results-per-page {
    width: 150px;
}

.search-sections {
    min-width: 400px;
}

.genome_expanded_header {
    width: 100px;
}

.feature_expanded_header {
    width: 140px;
}

.metagenome_expanded_header {
    width: 120px;
}

.model_expanded_header {
    width: 120px;
}

.media_expanded_header {
    width: 120px;
}

.gwas_expanded_header {
    width: 120px;
}

.gwas-source-header {
    width: 170px;
}

.gwas-source {
    width: 155px;
    margin-right: 10px;
}

.num_snp_header {
    width: 70px;
}

.num_snp {
    width: 60px;
    margin-right: 8px;
}

.trait_name_header {
    width: 80px;
}

.trait_name {
    width: 70px;
    margin-right: 10px;
}

.trait_ontology_id_header {
    width: 90px;
}

.trait_ontology_id {
    width: 80px;
    margin-right: 10px;
}

.genome_id_header {
    width: 90px;
}

.genome_id {
    width: 80px;
    margin-right: 8px;
}

.cs_db_version_header {
    width: 40px;
}

.cs_db_version {
    width: 32px;
    margin-right: 8px;
}

.gc_content_header {
    width: 50px;
}

.gc_content {
    width: 40px;
    margin-right: 10px;
}

.feature_id_header {
    width: 140px;
}

.feature_id {
    width: 130px;
    margin-right: 9px;
}

.feature_source_id_header {
    width: 150px;
}

.feature_source_id {
    width: 140px;
    margin-right: 8px;
}

.feature_function_header {
    width: 150px;
}

.feature_function {
    width: 138px;
    margin-right: 10px;
}

.dna_sequence_length_header {
    width: 60px;
}

.dna_sequence_length {
    width: 50px;
    margin-right: 10px;
}

.protein_translation_length_header {
    width: 70px;
}

.protein_translation_length {
    width: 60px;
    margin-right: 10px;
}

.feature_type_header {
    width: 60px;
}

.feature_type {
    width: 50px;
    margin-right: 10px;
}

.homology_query_seq_header {
    width: 131px;
}

.homology_query_seq_field {
    width: 120px;
    margin-right: 9px;
}

.homology_subj_seq_header {
    width: 211px;
}

.homology_subj_seq_field {
    width: 200px;
    margin-right: 9px;
}

.homology_position_header {
    width: 50px;
}

.homology_position_field {
    width: 40px;
    margin-right: 9px;
}

.homology_numeric_header {
    width: 60px;
}

.homology_numeric_field {
    width: 50px;
    margin-right: 9px;
}

.domain-header {
    width: 70px;
}

.domain {
    width: 62px;
    margin-right: 8px;
}

.metagenome_id_header {
    width: 120px;
}

.metagenome_id {
    width: 112px;
    margin-right: 8px;
}

.metagenome_name_header {
    width: 200px;
}

.metagenome_name {
    width: 192px;
    margin-right: 8px;
}

.metagenome_sequence_type_header {
    width: 110px;
}

.metagenome_sequence_type {
    width: 102px;
    margin-right: 8px;
}

.metagenome_biome_header {
    width: 348px;
}

.metagenome_biome {
    width: 330px;
    margin-right: 8px;
}

.object_id_header {
    width: 130px;
}

.object_id {
    width: 120px;
    margin-right: 9px;
}

.object_name_header {
    width: 220px;
}

.object_name {
    width: 210px;
    margin-right: 9px;
}

.object_type {
    min-width: 280px;
}

.originator-header {
    width: 100px;
}

.originator {
    width: 90px;
    margin-right: 8px;
}

.assay-header {
    width: 328px;
}

.assay {
    width: 310px;
    margin-right: 9px;
}

.genome_dna_size_header {
    width: 110px;
}

.genome_dna_size {
    width: 100px;
    margin-right: 0px;
}

.num_cds_header {
    width: 70px;
}

.num_cds {
    width: 60px;
    margin-right: 8px;
}

.num_contigs_header {
    width: 60px;
}

.num_contigs {
    width: 50px;
    margin-right: 9px;
}


.media_id_header {
    width: 100px;
}

.media_id {
    width: 92px;
    margin-right: 8px;
}

.media_name_header {
    width: 200px;
}

.media_name {
    width: 192px;
    margin-right: 8px;
}

.media_type_header {
    width: 100px;
}

.media_type {
    width: 92px;
    margin-right: 8px;
}

.is_defined_header {
    width: 190px;
}

.is_defined {
    width: 162px;
    margin-right: 8px;
}

.is_minimal_header {
    width: 100px;
}

.is_minimal {
    width: 92px;
    margin-right: 8px;
}


.fba_model_name_header {
    width: 160px;
}

.fba_model_name {
    width: 152px;
    margin-right: 8px;
}

.model-scientific-name-header {
    width: 280px;
}

.model-scientific-name {
    width: 272px;
    margin-right: 8px;
}

.model-domain-header {
    width: 80px;
}

.model-domain {
    width: 72px;
    margin-right: 8px;
}

.number_of_features_header {
    width: 80px;
}

.number_of_features {
    width: 72px;
    margin-right: 8px;
}

.number_of_reactions_header {
    width: 90px;
}

.number_of_reactions {
    width: 82px;
    margin-right: 8px;
}

.number_of_gapfillings_header {
    width: 90px;
}

.number_of_gapfillings {
    width: 72px;
    margin-right: 8px;
}

.number_of_compounds_header {
    width: 90px;
}

.number_of_compounds {
    width: 82px;
    margin-right: 8px;
}



.facet-scroll {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1001;
}


.search-result-options {
    margin-bottom: 10px;
}

.search-result-options-label {
    min-width: 100px;
    margin-right: 12px;
}

.search-result-set-header {
    padding: 0px;
}


.result-set-area {
    margin-left: 30px;
}


.result-set-list {
    width: 100%;
}

.result-set-list td {
    vertical-align: middle;
}




div.blockMsg {
    width: 40%;
    top: 40%;
    left: 30%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -moz-opacity:.70;
    opacity:.70;
    */
    padding: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}


div.blockMsg.search-block-element {
    position: relative;
    width: 40%;
    top: 40%;
    left: 30%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -moz-opacity:.70;
    opacity:.70;
    */
    padding: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}



ul.scroll-menu {
    position: relative;
    display: inherit !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    width: 90%;
    height: auto;
    margin: 0;
    max-height: 400px;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}


/*
@media (min-width: 1200px) {
  .container {
    max-width: 4400px;
    margin: 2%;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
*/
