<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 fba_model_name_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">                
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['fba_model_name']}"><strong>FBA Model Name</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['fba_model_name'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['fba_model_name'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['fba_model_name'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['fba_model_name'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'fba_model_name', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'fba_model_name', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'fba_model_name', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-4 col-lg-4 model-scientific-name-header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['scientific_name']}"><strong>Scientific Name</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['scientific_name'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['scientific_name'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['scientific_name'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['scientific_name'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort reverse alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'scientific_name', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 model-domain-header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['domain']}"><strong>Domain</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['domain'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['domain'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['domain'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['domain'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'domain', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'domain', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort reverse alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'domain', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 number_of_features_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['number_of_features']}"><strong>Features</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['number_of_features'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['number_of_features'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['number_of_features'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['number_of_features'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_features', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_features', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'number_of_features', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 number_of_reactions_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['number_of_reactions']}"><strong>Reactions</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['number_of_reactions'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['number_of_reactions'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['number_of_reactions'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['number_of_reactions'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_reactions', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_reactions', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'number_of_reactions', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 number_of_gapfillings_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['number_of_gapfillings']}"><strong>Gapfills</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['number_of_gapfillings'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['number_of_gapfillings'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['number_of_gapfillings'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['number_of_gapfillings'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_gapfillings', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_gapfillings', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'number_of_gapfillings', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<!--
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 number_of_compounds_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['number_of_compounds']}"><strong>Compounds</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['number_of_compounds'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['number_of_compounds'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['number_of_compounds'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['number_of_compounds'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_compounds', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'number_of_compounds', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'number_of_compounds', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
-->
