<tr ng-if="item.taxonomy">
    <td class="search-result-column-expanded-entry-cell model_expanded_header"><strong>Taxonomy:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.taxonomy}}</td>
</tr>                    
<tr ng-if="item.genome_id">
    <td class="search-result-column-expanded-entry-cell model_expanded_header"><strong>Genome Id:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.genome_id}}</td>
</tr>                    
<tr ng-if="item.number_of_biomasses">
    <td class="search-result-column-expanded-entry-cell model_expanded_header"><strong>Biomasses:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.number_of_biomasses}}</td>
</tr>                    
<tr ng-if="item.number_of_compartments">
    <td class="search-result-column-expanded-entry-cell model_expanded_header"><strong>Compartments:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.number_of_compartments}}</td>
</tr>                    
<tr ng-if="item.number_of_gapgens">
    <td class="search-result-column-expanded-entry-cell model_expanded_header"><strong>Gapgens:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.number_of_gapgens}}</td>
</tr>                    
