
<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-3 col-lg-3 genome-scientific-name-header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['scientific_name']}"><strong>Scientific Name</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['scientific_name'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['scientific_name'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['scientific_name'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['scientific_name'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'scientific_name', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort reverse alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'scientific_name', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>

<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 domain-header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['genome_id']}"><strong>ID</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['genome_id'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['genome_id'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['genome_id'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['genome_id'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'genome_id', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'genome_id', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort reverse alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'genome_id', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>

<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 domain-header">
    <div class="search-result-column-header-btn" style="padding-top:5px;">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['genome_source']}"><strong>Source</strong></div>
        
    </div>
</div>




<div class="btn-group search-result-column-header col-xs-2 col-sm-2 col-md-1 col-lg-1 domain-header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['domain']}"><strong>Domain</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['domain'], 'glyphicon-sort-by-alphabet': options.active_sorts[options.selectedCategory].sorts['domain'].direction == 'asc', 'glyphicon-sort-by-alphabet-alt': options.active_sorts[options.selectedCategory].sorts['domain'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['domain'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'domain', 'asc')">
                <span class="glyphicon glyphicon-sort-by-alphabet"/>
                <span>Sort alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'domain', 'desc')">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"/>
                <span>Sort reverse alphabet</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'domain', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>

<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 num_contigs_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['num_contigs']}"><strong>Contigs</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['num_contigs'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['num_contigs'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['num_contigs'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['num_contigs'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'num_contigs', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'num_contigs', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'num_contigs', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 num_cds_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['num_cds']}"><strong>Genes</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['num_cds'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['num_cds'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['num_cds'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['num_cds'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'num_cds', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'num_cds', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'num_cds', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>
<div class="btn-group search-result-column-header col-xs-1 col-sm-1 col-md-1 col-lg-1 genome_dna_size_header">
    <button type="button" class="btn btn-default dropdown-toggle search-result-column-header-btn" data-toggle="dropdown">
        <div class="search-column-name" ng-class="{'search-sort-activated': options.active_sorts[options.selectedCategory].sorts['genome_dna_size']}"><strong>Size(bp)</strong></div>
        <span class="glyphicon search-sort-icon" ng-class="{'glyphicon-sort': !options.active_sorts[options.selectedCategory].sorts['genome_dna_size'], 'glyphicon-sort-by-order': options.active_sorts[options.selectedCategory].sorts['genome_dna_size'].direction == 'asc', 'glyphicon-sort-by-order-alt': options.active_sorts[options.selectedCategory].sorts['genome_dna_size'].direction == 'desc'}"></span>                
        <span class="badge search-sort-badge" ng-show="options.active_sorts[options.selectedCategory] && options.active_sorts[options.selectedCategory].count > 1">{{options.active_sorts[options.selectedCategory].sorts['genome_dna_size'].order}}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="addSort(options.selectedCategory, 'genome_dna_size', 'asc')">
                <span class="glyphicon glyphicon-sort-by-order"/>
                <span>Sort ascending</span>
            </a>
        </li>
        <li>
            <a ng-click="addSort(options.selectedCategory, 'genome_dna_size', 'desc')">
                <span class="glyphicon glyphicon-sort-by-order-alt"/>
                <span>Sort descending</span>
            </a>
        </li>
        <li>
            <a ng-click="removeSort(options.selectedCategory, 'genome_dna_size', true)">
                <span class="glyphicon glyphicon-remove"/>
                <span>Clear this sort</span>
            </a>
        </li>
    </ul>
</div>