.ErrorAlert {
    width: 50%;
    margin: 0 auto;
}

.ErrorAlert-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.ErrorAlert-title .fa {
    margin-right: 4px;
}