# package caches wherever they may be installed
bower_components
node_modules

# Any trash directories
_trash

# IDEs
# put your ide here
nbproject

# Build artifacts
/build/dist
/build/build
/build/build-test-coverage
/build/test
/mutations/mutantfiles

# Developer artifacts
/dev/*
!/dev/README.md

_attic

# package caches wherever they may be installed
bower_components
node_modules
package-lock.json

# General purpose temp directory
/temp/files

# Any trash directories
_trash

# IDEs
# put your ide here
nbproject

# Build artifacts
/build/dist
/build/build
/build/build-test-coverage
/mutations/mutantfiles


# Deployment artifacts
/deployment/dev/docker/context/contents
/deployment/ci/docker/context/contents
/deployment/prod/docker/context/contents
/deployment/proxier/docker/context/contents


# Editor and OS artifacts
.DS_Store
.vscode
.idea

# Docker run artifacts
# todo divert files elsewhere
kbase-ui.stdout
kbase-ui.stderr
proxier.stdout
proxier.stderr