.Empty {
    border: 1px solid rgb(200 200 200);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    flex: 0 0 auto;
    font-size: 150%;
}

.message {
    flex: 1 1 0;
    margin-left: 0.5em;
}
