
.well {
    border-radius: 1em;
    border: 3px solid rgba(200, 200, 200, 0.4);
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding: 1em;
    font-weight: bold;
    color: rgb(150 150 150);
}

.body {
    flex: 1 1 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.section {
    flex: 0 0 auto;
    padding: 1em;
}

.title {
    flex: 0 0 auto;
    border-top: 1px solid rgba(200, 200, 200, 0.4);
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding: 1em;
    font-weight: bold;
    color: rgb(150 150 150);
}

.footer {
    flex: 0 0 auto;
    border-top: 1px solid rgba(200, 200, 200, 0.4);
    padding: 1em;
}