{
    "deploy": {
        "environment": "{{ deploy_environment|default("ci")}}",
        "hostname": "{{ deploy_hostname|default("ci.kbase.us")}}",
        "icon": "thumbs-up",
        "name": "{{ deploy_name|default("Continuous Integration")}}",
        "services": {
            "urlBase": "{{ deploy_services_urlBase|default("ci.kbase.us")}}"
        }
    },
    "ui": {
        "backupCookie": {
            "domain": "{{ ui_backupCookie_domain|default("ci.kbase.us")}}",
            "enabled": {{ ui_backupCookie_enabled|default("true")}}
        },
        "services": {
            "analytics": {
                "google": {
                    "hostname": "{{ ui_services_analytics_google_hostname|default("kbase.us")}}",
                    "code": "{{ ui_services_analytics_google_code|default("UA-74532036-1")}}"
                }
            }
        },
{%- if (deploy_environment is not defined) or (deploy_environment in ['ci', 'appdev']) %}
        "allow": [
            "alpha",
            "beta"
        ],
{%- endif %}
        "features": {
            "auth": {
                "selected": "auth2"
            }
        }
    },
    "services": {
        "narrative": {
            "url": "{{ services_narrative|default("https://ci.kbase.us/") }}"
        }
    }
}
