daemon off;
error_log /dev/stdout info;
worker_processes auto;
pid /var/run/nginx.pid;

events {
	worker_connections 256;
	# multi_accept on;
}


http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;
    error_log /dev/stdout;
	access_log syslog:server=10.58.0.54,facility=local2,tag=ci,severity=info combined;

    server {
        # no need for root privileges
        listen      80;
        server_name {{ nginx_server_name|default("localhost") }};
        
        location / {
			index index.html;
			ssi_silent_errors off;
			allow all;

            # insert desired path here
            root /kb/deployment/services/kbase-ui/;
        }
    }
}