{
    "deploy": {
        "id": "kbase-ui",
        "target": "/kb/deployment/services/kbase-ui",
        "environment": "{{ default .Env.deploy_environment "dev" }}",
        "hostname": "{{ default .Env.deploy_hostname "localhost" }}",
        "icon": "{{ .Env.deploy_icon }}",
        "name": "{{ .Env.deploy_name }}",
        "services": {
            "urlBase": "https://{{ default .Env.deploy_hostname "localhost" }}",
            "dynamicServiceProxies": [{{ range $i, $v := split .Env.dynamic_service_proxies "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}]
        }
    },
    "ui": {       
        "services": {
			"connection": {},
			"coreService": {},
			"heartbeat": {
                "interval": 500
            },
			"instrumentation": {},
			"notification": {},
			"route": {
                "defaultLocation": {
                    "type": "internal",
                    "path": "login"
                },
                "urls": {
                    "marketing": "www.kbase.us",
                    "documentation": "docs.kbase.us"
                }
            },
			"rpc": {},
			"session": {
                "cookie": {
                    "maxAge": 5184000,
                    "name": "kbase_session",
                    "backup": {
                        "name": "kbase_session_backup",
                        "domain": {{ if .Env.ui_backupCookie_domain }}"{{.Env.ui_backupCookie_domain}}"{{else}}null{{end}},
                        "enabled": {{ default .Env.ui_backupCookie_enabled "false"}}
                    }
                },
                "loginWidget": "kb_login_signin"
            },
			"userprofile": {},
			"feeds": {},
			"menu": {
				"menus": {
					"hamburger": {
						"sections": {
							"main": [{
                                    "id": "narrative",
                                    "auth": true
                                },
                                {
                                    "id": "new-narrative",
                                    "auth": true
                                },
                                {
                                    "id": "jgi-search",
                                    "auth": true
                                },
                                {
                                    "id": "biochem-search",
                                    "auth": false
                            }],
							"developer": [{
									"id": "about-services",
									"auth": true,
									"allowRoles": [
										"DevToken"
									]
								}, {
									"id": "developer",
									"auth": true,
									"allowRoles": [
										"DevToken"
									]
								}, {
									"id": "dashboard4",
									"auth": true,
									"allowRoles": [
										"DevToken"
									]
								}, {
                                    "id": "public-search",
                                    "auth": true,
                                    "allowRoles": [
                                        "DevToken"
                                    ]
                                }, {
									"id": "search2",
									"auth": true,
									"allowRoles": [
										"DevToken"
									]
                            }],
							"help": [{
										"id": "about",
										"auth": false
									},
									{
										"id": "help",
										"auth": false
									}
                            ]},
                        "disabled": [{{ range $i, $v := split .Env.ui_services_menu_hamburger_disabled "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}]
					},
					"sidebar": {
						"sections": {
							"main": [{
										"id": "dashboard",
										"auth": true
									},
									{
										"id": "organizations",
										"auth": true
									},
									{
										"id": "catalog",
										"auth": false
									},
									{
										"id": "search",
										"auth": true
									},
									{
										"id": "jobbrowser",
										"label": "Jobs",
										"auth": true
									},
									{
										"id": "account",
										"auth": true
									},
									{
										"id": "feeds",
										"auth": true
									}
                            ]},
                        "disabled": [{{ range $i, $v := split .Env.ui_services_menu_sidebar_disabled "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}]
					}
				}
			}
		},
        "allow": [{{ range $i, $v := split .Env.allow "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}],
        "featureSwitches": {
            "enabled": [{{ range $i, $v := split .Env.ui_featureSwitches_enabled "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}],
            "disabled": [{{ range $i, $v := split .Env.ui_featureSwitches_disabled "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}],
            "available": [{
					"id": "orcid_auth_provider",
					"title": "ORCiD auth provider",
					"description": "The ORCiD auth provider is"
				},
				{
					"id": "system_alert_notification",
					"title": "The New System Alert Notification",
					"disabled": true
				},
				{
					"id": "search_features",
					"title": "Search over Genome Features"
				},
				{
					"id": "similar_genomes",
					"title": "Similar Genomes Landing Page Widget"
				},
				{
					"id": "new_provenance_widget",
					"title": "New Provenance Widget"
				},
				{
					"id": "re-lineage",
					"title": "Lineage driven by Relation Engine"
				},
                {
                    "id": "linked-samples",
                    "title": "Samples linked to objects via the Sample Service"
                },
                {
                    "id": "redirect-to-www",
                    "title": "Redirect to www.kbase.us if not physical path, ui hash path, or token"
                }
			]
        },
        "coreServices": {
            "disabled": [{{ range $i, $v := split (default .Env.ui_coreServices_disabled "") "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}]
        },
        "images": {
            "spinner": {
                "url": "/images/ajax-loader.gif"
            }
        },
        "constants": {
            "client_timeout": 900000,
            "service_check_timeouts": {
                "slow": 3000,
                "hard": 5000
            }
        },
        "paths": {
            "spa_root": "#",
            "version_check": "/narrative_version",
            "dashboard_metrics": "/userMetrics"
        },
        "urls": {
            "status_page": "http://kbase.us/internal/status",
            "submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=#Narrative%20version"
        }
    },
    "docsite": {
		"base_url": "http://www.kbase.us",
		"host": "kbase.us",
		"paths": {
			"about": "/about",
			"contact": "/support",
			"browser_support": "/support"
		}
	},
    "services": {
        "auth2": {
			"aliases": [
				"auth",
				"Auth"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_auth2_path "services/auth" }}",
			"cookieName": "kbase_session",
			"name": "Authorization Version 2",
			"coreService": true,
			"type": "rest",
			"version": {
				"path": "/",
				"propertyPath": "version",
				"minimum": "{{ .Env.services_auth2_version_minimum }}",
                "required": "^0.4.0"
			},
			"providers": [{{ range $i, $v := split .Env.services_auth2_providers "," }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}]
		},
		"Catalog": {
			"aliases": [
				"catalog"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_catalog_path "services/catalog" }}",
			"name": "Catalog",
			"coreService": true,
			"type": "jsonrpc",
			"version": {
				"method": "version",
				"minimum": "2.1.0",
                "required": "^2.1.0"
			}
		},
		"Feeds": {
			"aliases": [
				"feeds"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_feeds_path "services/feeds" }}",
			"name": "Feeds",
			"coreService": true,
			"type": "rest",
			"version": {
				"path": "/",
				"propertyPath": "version",
				"minimum": "1.0.1",
                "required": "^1.0.1"
			}
		},
		"Groups": {
			"aliases": [
				"groups"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_groups_path "services/groups" }}",
			"name": "Groups",
			"coreService": true,
			"type": "rest",
			"version": {
				"path": "/",
				"propertyPath": "version",
				"minimum": "0.1.0",
                "required": "^0.1.0"
			}
		},
		"NarrativeMethodStore": {
			"aliases": [
				"narrative_method_store"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_narrativemethodstore_path "services/narrative_method_store/rpc" }}",
			"image_url": "https://{{ default .Env.deploy_hostname "localhost" }}/services/narrative_method_store/",
			"name": "Narrative Method Store",
			"coreService": true,
			"type": "jsonrpc",
			"version": {
				"method": "ver",
				"minimum": "0.3.6",
                "required": "^0.3.6"
			}
		},
		"shock": {
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_shock_path "services/shock-api" }}",
			"name": "Shock"
		},
		"UserProfile": {
			"aliases": [
				"user_profile"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_userprofile_path "services/user_profile/rpc" }}",
			"name": "User Profile",
			"coreService": true,
			"type": "jsonrpc",
			"version": {
				"method": "ver",
				"minimum": "0.2.0",
				"required": "^0.2.0"
			}
		},
		"UserAndJobState": {
			"aliases": [
				"user_job_state"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_userandjobstate_path "services/userandjobstate" }}",
			"name": "User and Job State"
		},
		"NarrativeJobService": {
			"aliases": [
				"narrative_job_service"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_narrativejobservice_path "services/njs_wrapper" }}",
			"name": "Narrative Job Service"
		},
		"KBaseDataImport": {
			"aliases": [
				"data_import_export"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_kbasedataimport_path "services/data_import_export" }}",
			"name": "Data Import Export"
		},
		"KBaseSearchEngine": {
			"aliases": [
				"search"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_kbasesearchengine_path "services/searchapi" }}",
			"name": "KBase Search Engine",
			"coreService": true,
			"type": "jsonrpc",
			"version": {
				"method": "status",
				"propertyPath": "version",
				"minimum": "0.2.0",
				"required": "^0.2.0"
			}
		},
		"ServiceWizard": {
			"aliases": [
				"service_wizard"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_servicewizard_path "services/service_wizard" }}",
			"name": "Service Wizard",
			"coreService": true,
			"type": "jsonrpc",
			"version": {
				"method": "version",
				"minimum": "0.4.0",
				"required": "^0.4.0"
			}
		},
		"Workspace": {
			"aliases": [
				"workspace"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_workspace_path "services/ws" }}",
			"name": "Workspace",
			"coreService": true,
			"type": "jsonrpc",
			"version": {
				"method": "ver",
				"minimum": "0.9.0",
                "required": "^0.9.0"
			}
		},
		"RelationEngine": {
			"aliases": [],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_relationengine_path "services/relation_engine_api" }}",
			"name": "Relation Engine",
			"coreService": true,
			"type": "rest",
			"version": {
				"path": "/",
				"semverNotImplemented": true
			}
		},
       
        "SearchAPI2": {
            "aliases": [],
            "url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_searchapi2_path "services/searchapi2/rpc" }}",
            "legacyUrl": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_searchapi2_path "services/searchapi2/legacy" }}",
			"name": "Search Engine",
			"coreService": true,
			"type": "jsonrpc2",
			"version": false
        },
         "SearchAPI2Legacy": {
            "aliases": [],
            "module": "KBaseSearchEngine",
            "url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_searchapi2_path "services/searchapi2/legacy" }}",
			"name": "Search Engine",
			"coreService": true,
			"type": "jsonrpc2",
			"version": false
        },
        "execution_engine2": {
            "aliases": ["ee2", "ExecutionEngine2"],
            "url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_ee2_path "services/ee2" }}",
			"name": "Execution Engine2",
			"coreService": true,
			"type": "jsonrpc",
			"version": false
        },
		"doc_site": {
			"url": "http://kbase.us",
			"name": "Documentation and Support Site"
		},
		"narrative": {
			"url": "{{ .Env.services_narrative_url }}",
            "name": "Narrative User Interface"
		},
		"staging": {
			"aliases": [
				"staging_service"
			],
			"url": "https://{{ default .Env.deploy_hostname "localhost" }}/{{ default .Env.deploy_services_staging_path "services/staging_service" }}"
		}
        
    },
    "dynamicServices": {
        "JobBrowserBFF": {
            "version": "{{default .Env.dynamicServices_JobBrowserBFF_version "auto"}}"
        },
        "SampleService": {
            "version": "{{default .Env.dynamicServices_SampleService_version "auto"}}"
        },
        "OntologyAPI": {
            "version": "{{default .Env.dynamicServices_OntologyAPI_version "auto"}}"
        },
        "TaxonomyAPI": {
            "version": "{{default .Env.dynamicServices_TaxonomyAPI_version "auto"}}"
        }
    },
    "resources": {
		"docSite": {
			"base": {
				"url": "https://docs.kbase.us"
			}
		},
        "marketingSite": {
            "base": {
                "url": "https://www.kbase.us"
            }
        },
		"documentation": {
			"loginHelp": {
				"url": "https://www.kbase.us/support"
			},
			"narrativeGuide": {
				"url": "https://docs.kbase.us/getting-started/narrative"
			},
			"tutorials": {
				"url": "https://docs.kbase.us/workflows"
			},
			"apps": {
				"url": "https://kbase.us/applist"
			},
			"troubleshooting": {
				"signin": "https://docs.kbase.us/troubleshooting"
			},
			"aboutKBase": {
				"url": "https://www.kbase.us/about/"
			}
		},
		"contact": {
			"url": "https://www.kbase.us/support",
			"name": "Support"
		},
		"help": {
			"url": "https://www.kbase.us/support/",
			"name": "Support"
		},
		"status_page": "http://kbase.us/internal/status",
		"submit_jira_ticket": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=#Narrative%"
	}
}
