{
    "deploy": {
        "id": "kbase-ui",
        "target": "/kb/deployment/app",
        "basePath":  "{{ default "" .Env.BASE_PATH }}",
        "environment": "{{ .Env.deploy_environment }}",
        "displayEnvironment": {{ eq .Env.deploy_environment "prod" | ternary true false }},
        "hostname": "{{ .Env.deploy_hostname }}",
        "icon": "{{ .Env.deploy_icon }}",
        "name": "{{ .Env.deploy_name }}",
        "ui": {
            "origin": "https://{{ default .Env.deploy_hostname .Env.deploy_ui_hostname }}"
        },
        "services": {
            "urlBase": "{{ .Env.deploy_hostname }}"
        }
    },
    "ui": {
        "apps": {
            "NarrativeManager": {
                "loadingTimers": {
                    "slow": 3000,
                    "verySlow": 10000
                }
            }
        },
        "services": {
            "connection": {
                "name": "Connection"
            },
            "coreService": {
                "name": "Core Service Monitor"
            },
            "instrumentation": {
                "name": "Instrumentation"
            },
            "notification": {
                "name": "Notification"
            },
            "session": {
                "name": "Session",
                "cookie": {
                    "maxAge": 5184000,
                    "name": "kbase_session",
                    "backup": {
                        "name": "kbase_session_backup",
                        "domain": {{ if .Env.ui_backupCookie_domain }}"{{.Env.ui_backupCookie_domain}}"{{else}}null{{end}},
                        "enabled": {{ default "false" .Env.ui_backupCookie_enabled }}
                    }
                },
                "loginWidget": "kb_login_signin",
                "cookieChangeDetectionInterval": 1000,
                "tokenValidationInterval": 300000
            },
            "userprofile": {
                "name": "User Profile"
            },
            "feeds": {
                "name": "Feeds",
                "pollInterval": 10000
            }
        },
        "urls": {
            "marketing": {
                "url": "www.kbase.us",
                "title": "Marketing Site"
            },
            "documentation": {
                "url": "docs.kbase.us",
                "title": "Documentation Site"
            },
            "statusPage": {
                "url": "http://kbase.us/internal/status",
                "title": "KBase Status Page"
            },
            "submitJiraTicket": {
                "url": "https://atlassian.kbase.us/secure/CreateIssueDetails!init.jspa?pid=10200&issuetype=1&description=#Narrative%20version",
                "title": "Submit a Jira Ticket"
            },
            "narrative": {
                "url": "https://{{ .Env.deploy_hostname }}.kbase.us/narrative",
                "title": "Narrative User Interface"
            },
            "loginHelp": {
                "url": "https://www.kbase.us/support",
                "title": "Login Help"
            },
            "narrativeGuide": {
                "url": "https://docs.kbase.us/getting-started/narrative",
                "title": "Narrative Guide"
            },
            "tutorials": {
                "url": "https://docs.kbase.us/workflows",
                "title": "Tutorials"
            },
            "apps": {
                "url": "https://kbase.us/applist",
                "title": "App List"
            },
            "troubleshooting": {
                "url": "https://docs.kbase.us/troubleshooting",
                "title": "Troubleshooting"
            },
            "aboutKBase": {
                "url": "https://www.kbase.us/about/",
                "title": "About KBase"
            },
            "contact": {
                "url": "https://www.kbase.us/support",
                "title": "Support"
            },
            "help": {
                "url": "https://www.kbase.us/support/",
                "title": "Support"
            }
        },
        "allow": [
            "alpha",
            "beta"
        ],
        "featureSwitches": {
            "enabled": [{{ range $i, $v := splitList "," (default "" .Env.ui_featureSwitches_enabled) }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}],
            "disabled": [{{ range $i, $v := splitList "," (default "" .Env.ui_featureSwitches_disabled) }}{{if $v }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}{{ end }}],
            "available": [
                {
                    "id": "orcid_auth_provider",
                    "title": "ORCiD auth provider",
                    "description": "The ORCiD auth provider is"
                },
                {
                    "id": "system_alert_notification",
                    "title": "The New System Alert Notification",
                    "disabled": true
                },
                {
                    "id": "search_features",
                    "title": "Search over Genome Features"
                },
                {
                    "id": "similar_genomes",
                    "title": "Similar Genomes Landing Page Widget"
                },
                {
                    "id": "new_provenance_widget",
                    "title": "New Provenance Widget"
                },
                {
                    "id": "re-lineage",
                    "title": "Lineage driven by Relation Engine"
                },
                {
                    "id": "object-link-to-term",
                    "title": "Data objects linked to ontology terms"
                },
                {
                    "id": "redirect-to-www",
                    "title": "Redirect to www.kbase.us if not physical path, ui hash path, or token"
                },
                {
                    "id": "sampleset-data-links",
                    "title": "Enable data links for sample sets"
                }
            ]
        },
        "constants": {
            "clientTimeout": 900000,
            "serviceCheckTimeouts": {
                "slow": 3000,
                "hard": 5000
            },
            "tokenCookieChangeDetectionInterval": 1000,
            "tokenValidationInterval": 300000
        },
        "defaults": {
            "path": {
                "type": "path",
                "value": "{{ default "#about" .Env.DEFAULT_PATH }}"
            },
            "hideHeader": {{ default "false" .Env.HIDE_HEADER }},
            "hideNavigation": {{ default "false" .Env.HIDE_NAVIGATION }},
            "integratedHamburgerAndLogo": {{ default "false"
            .Env.INTEGRATED_HAMBURGER_AND_LOGO }}
        }
    },
    "services": {
        "Auth2": {
            "module": "Auth2",
            "aliases": [
                "auth2",
                "auth",
                "Auth"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/{{ default "services/auth" .Env.deploy_services_auth2_path }}",
            "cookieName": "kbase_session",
            "extraCookieNames": [],
            "name": "Authorization Version 2",
            "type": "rest",
            "version": {
                "path": "/",
                "propertyPath": "version"
            },
            "providers": [
                "Google",
                "Globus",
                "OrcID"
            ]
        },
        "Catalog": {
            "module": "Catalog",
            "aliases": [
                "catalog"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/catalog",
            "name": "Catalog",
            "type": "jsonrpc",
            "version": {
                "method": "version"
            }
        },
        "execution_engine2": {
            "module": "execution_engine2",
            "aliases": [
                "ee2",
                "ExecutionEngine2"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/ee2",
            "name": "Execution Engine2",
            "type": "jsonrpc"
        },
        "Feeds": {
            "module": "Feeds",
            "aliases": [
                "feeds"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/feeds",
            "name": "Feeds",
            "type": "rest",
            "version": {
                "path": "/",
                "propertyPath": "version"
            }
        },
        "Groups": {
            "module": "Groups",
            "aliases": [
                "groups"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/groups",
            "name": "Groups",
            "type": "rest",
            "version": {
                "path": "/",
                "propertyPath": "version"
            }
        },
        "NarrativeJobService": {
            "module": "NarrativeJobService",
            "aliases": [
                "narrative_job_service",
                "njs"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/njs_wrapper",
            "name": "Narrative Job Service",
            "type": "jsonrpc",
            "version": {
                "method": "ver"
            }
        },
        "NarrativeMethodStore": {
            "module": "NarrativeMethodStore",
            "aliases": [
                "narrative_method_store"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/narrative_method_store/rpc",
            "image_url": "https://{{ .Env.deploy_hostname }}/services/narrative_method_store/",
            "name": "Narrative Method Store",
            "type": "jsonrpc",
            "version": {
                "method": "ver"
            }
        },
        "UserProfile": {
            "module": "UserProfile",
            "aliases": [
                "user_profile"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/user_profile/rpc",
            "name": "User Profile",
            "type": "jsonrpc",
            "version": {
                "method": "ver"
            }
        },
        "SampleService": {
            "module": "SampleService",
            "url": "https://{{ .Env.deploy_hostname }}/services/sampleservice",
            "name": "Sample Service",
            "type": "jsonrpc"
        },
        "ServiceWizard": {
            "module": "ServiceWizard",
            "aliases": [
                "service_wizard"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/service_wizard",
            "name": "Service Wizard",
            "type": "jsonrpc",
            "version": {
                "method": "version"
            }
        },
        "Workspace": {
            "module": "Workspace",
            "aliases": [
                "workspace"
            ],
            "url": "https://{{ .Env.deploy_hostname }}/services/ws",
            "name": "Workspace",
            "type": "jsonrpc",
            "version": {
                "method": "ver"
            }
        },
        "RelationEngine": {
            "module": "RelationEngine",
            "aliases": [],
            "url": "https://{{ .Env.deploy_hostname }}/services/relation_engine_api",
            "name": "Relation Engine",
            "type": "rest",
            "version": {
                "path": "/",
                "semverNotImplemented": true
            }
        },
        "SearchAPI2": {
            "module": "SearchAPI2",
            "aliases": [],
            "url": "https://{{ .Env.deploy_hostname }}/services/searchapi2/rpc",
            "legacyUrl": "https://{{ .Env.deploy_hostname }}/services/searchapi2/legacy",
            "name": "Search Engine",
            "type": "jsonrpc2"
        },
        "SearchAPI2Legacy": {
            "aliases": [],
            "module": "KBaseSearchEngine",
            "url": "https://{{ .Env.deploy_hostname }}/services/searchapi2/legacy",
            "name": "Search Engine",
            "type": "jsonrpc"
        },
        "ORCIDLink": {
            "aliases": [],
            "module": "ORCIDLink",
            "url": "https://{{ .Env.deploy_hostname }}/services/orcidlink",
            "name": "KBase ORCID® Link",
            "type": "rest",
            "version": {
                "method": "info",
                "propertyPath": "kbase_sdk_config.module-version"
            }
        }
    },
    "dynamicServices": {
        "JobBrowserBFF": {
            "module": "JobBrowserBFF",
            "version": "auto"
        },
        "SampleService": {
            "module": "SampleService",
            "version": "auto"
        },
        "OntologyAPI": {
            "module": "OntologyAPI",
            "version": "dev"
        },
        "TaxonomyAPI": {
            "module": "TaxonomyAPI",
            "version": "auto"
        }
    }
}
