daemon off;
error_log /dev/stdout info;
worker_processes auto;
pid /var/run/nginx.pid;
user kbmodule;

events {
    worker_connections 256;
    # multi_accept on;
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # Logging Settings
    ##

    # Always log to the logfiles, and default errors to stderr, with access logs to syslog and stdout
    # as optional

    # If the template is passed an nginx syslog path via nginx_log_syslog env var, log to there
    {{ if .Env.nginx_log_syslog }}
    access_log {{ .Env.nginx_log_syslog }} combined;
    {{ end }}
    # If nginx_log_stdout env var isn't false or empty, log to stdout
    {{ if isTrue (default "true" .Env.nginx_log_stdout) }}
    access_log /dev/stdout;
    {{ end }}
    access_log /var/log/nginx/access.log;

    {{ if isTrue (default "true" .Env.nginx_log_stderr) }}
    error_log /dev/stderr {{ default "error" .Env.nginx_loglevel }};
    {{ end }}
    error_log /var/log/nginx/error.log {{ default "error" .Env.nginx_loglevel }};

    ##
    # Gzip settings
    ##
    gzip on;
    gzip_vary on;
    gzip_min_length 10240;
    gzip_proxied expired no-cache no-store private auth;
    gzip_types text/plain text/css text/xml text/javascript application/json application/x-javascript application/xml;
    gzip_disable "MSIE [1-6]\.";

    upstream docs {
        server docs.kbase.us:443;
    }

    upstream marketing {
        server  www.kbase.us:443;
    }

    server {
        listen      {{ default "80" .Env.nginx_listen }} default_server;
        server_name {{ default "localhost" .Env.nginx_server_name }};
       
        # location {{ default "" .Env.base_path }}/ws/ {
        #     client_max_body_size 300M;
        #     proxy_pass http://localhost:3000/ws/;
        #     proxy_set_header Upgrade $http_upgrade; 
        #     proxy_set_header Connection "Upgrade";
        #     proxy_set_header Host {{ default .Env.deploy_hostname .Env.deploy_ui_hostname }};
        # }
  
        location {{ default "" .Env.base_path }}/ {
            # Ensure that index.html is invoked even if a path is
            # specified and doesn't exist.
            # try_files $uri /$uri /index.html;
            ssi_silent_errors off;
            allow all;
            # this ensures that a downstream cache service will revalidate.
            add_header Cache-Control 'no-cache';
            add_header X-Frame-Options: "SAMEORIGIN" always;
            add_header Content-Security-Policy: "frame-ancestors 'self';" always;

            root /kb/deployment/app;
        }
        
        location {{ default "" .Env.base_path }}/__ping__ {
            default_type text/html;
            return 204;
        }

        location {{ default "" .Env.base_path }}/data/__perf__ {
            gzip off;
            add_header Cache-Control 'no-cache';
            root /kb/deployment/app;
        }

        location {{ default "" .Env.base_path }}/modules/plugins/ {
            ssi_silent_errors off;
            allow all;
            add_header Cache-Control 'no-cache';
            alias /kb/deployment/app/plugins/;
        }

        # Format is /__poke/https://www.example.com/some/path
        location ~* ^{{ default "" .Env.base_path }}/__poke/docs/(.*)$ {
            proxy_hide_header Content-Security-Policy;
            proxy_hide_header X-Content-Security-Policy;
            proxy_hide_header X-Webkit-Csp;
            proxy_pass https://docs/$1;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            client_max_body_size 300M;
            proxy_buffer_size 128k;
            proxy_buffers 4 256k;
            proxy_busy_buffers_size 256k;
            proxy_set_header Host docs.kbase.us;
            proxy_intercept_errors on;
            recursive_error_pages on;
            error_page 301 302 307 = @handle_redirect_docs;
        }

        location @handle_redirect_docs {
            set $saved_redirect_location  '$upstream_http_location';

            # These header fields are massive in gitbook.
            proxy_hide_header Content-Security-Policy;
            proxy_hide_header X-Content-Security-Policy;
            proxy_hide_header X-Webkit-Csp;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            client_max_body_size 300M;
            proxy_buffer_size 128k;
            proxy_buffers 4 256k;
            proxy_busy_buffers_size 256k;
            proxy_set_header Host docs.kbase.us;
            proxy_pass $saved_redirect_location;
            proxy_intercept_errors on;
            recursive_error_pages on;
            error_page 301 302 307 = @handle_redirect_docs;
        }

        location ~* ^{{ default "" .Env.base_path }}/__poke/marketing/(.*)$ {
            proxy_pass https://marketing/$1;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            client_max_body_size 300M;
            proxy_set_header Host www.kbase.us;
            proxy_intercept_errors on;
            recursive_error_pages on;
            error_page 301 302 307 = @handle_redirect_marketing;
        }

        location @handle_redirect_marketing {
            set $saved_redirect_location  '$upstream_http_location';
            set $path $saved_redirect_location;

            if ($saved_redirect_location ~* ^https://www.kbase.us/(.*)$) {
                set $path $1;
            }

            proxy_http_version 1.1;
            proxy_set_header Connection "";
            client_max_body_size 300M;
            proxy_set_header Host www.kbase.us;
            proxy_pass https://marketing/$path;
            proxy_intercept_errors on;
            recursive_error_pages on;
            error_page 301 302 307 = @handle_redirect_marketing;
        }
    }
}
