html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.kbase-ui {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
        'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    color: #000000;
    /* color: #333333; */
    /* for scrolling in older FF (<= 65) */
    min-height: 0;
}

/* H1 should only be used on the title area of the UI. The total height is 70px with 5px lower border, so the font size, 
   padding, and margin are arranged to center it vertically within this height.*/

.kbase-ui h1,
.kbase-ui .h1 {
    letter-spacing: 0;
    font-size: 29px;
    padding: 5px 0px;
    margin: 8px 0px;
}

/* H2 should be used for main panel titles. It may be used for the primary title for the panel, or if there 
   are multiple sub-panels or areas, for each of them. */

.kbase-ui h2,
.kbase-ui .h2 {
    letter-spacing: 0;
    font-size: 25px;
}

.kbase-ui h3,
.kbase-ui .h3 {
    letter-spacing: 0;
    font-size: 21px;
}

.kbase-ui h4,
.kbase-ui .h4 {
    letter-spacing: 0em;
    font-size: 19px;
}

.kbase-ui h5,
.kbase-ui .h5 {
    letter-spacing: 0em;
    font-size: 17px;
}

a:hover,
.pointer {
    cursor: hand;
    cursor: pointer;
}

#logo {
    margin: 2px 10px 0 10px;
}

.label {
    padding: .4em .6em .3em;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
}

/*
 *  Slide-Down Notifications
*/

#notification-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#notification {
    color: #000;
    opacity: .8;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background: #acc474;
}

#notification.error {
    color: #fff;
    background: #a93c3c;
}

.sidebar .nav-tabs>li.active>a {
    background: #f9f9f9;
    border-top: 4px solid #428bca;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 5px 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f9f9f9;
        border-right: 2px solid #eee;
    }
}

/* more subtle buttons...*/

.btn.btn-kbase-subtle {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}

.btn.btn-kbase-subtle:active,
.btn.btn-kbase-subtle:focus,
.btn.btn-kbase-subtle:hover {
    background-color: rgba(200, 200, 200, 0.4);
    border-color: rgba(200, 200, 200, 0.4);
}

.btn.btn-kbase-compact {
    padding: 3px 6px;
}

/* Safari fixes */

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ececec;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
}

/* Font awesome help */

.fa-rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}