@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-webfont.eot');
    src: url('fonts/Oxygen-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-webfont.woff') format('woff'), url('fonts/Oxygen-webfont.ttf') format('truetype'), url('fonts/Oxygen-webfont.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-Italic-webfont.eot');
    src: url('fonts/Oxygen-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-Italic-webfont.woff') format('woff'), url('fonts/Oxygen-Italic-webfont.ttf') format('truetype'), url('fonts/Oxygen-Italic-webfont.svg#OxygenItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-Bold-webfont.eot');
    src: url('fonts/Oxygen-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-Bold-webfont.woff') format('woff'), url('fonts/Oxygen-Bold-webfont.ttf') format('truetype'), url('fonts/Oxygen-Bold-webfont.svg#OxygenBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-BoldItalic-webfont.eot');
    src: url('fonts/Oxygen-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-BoldItalic-webfont.woff') format('woff'), url('fonts/Oxygen-BoldItalic-webfont.ttf') format('truetype'), url('fonts/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OxygenMono';
    src: url('fonts/OxygenMono-Regular-webfont.eot');
    src: url('fonts/OxygenMono-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OxygenMono-Regular-webfont.woff') format('woff'), url('fonts/OxygenMono-Regular-webfont.ttf') format('truetype'), url('fonts/OxygenMono-Regular-webfont.svg#OxygenMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Black-webfont.woff') format('woff'), url('fonts/Roboto-Black-webfont.ttf') format('truetype'), url('fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

.kbase-ui h1,
.kbase-ui .h1 {
    font-family: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0;
}

.kbase-ui h2,
.kbase-ui .h2 {
    font: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0;
}

.kbase-ui h3,
.kbase-ui .h3 {
    font-family: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0;
}

.kbase-ui h4,
.kbase-ui .h4 {
    font-family: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0em;
}


/*@media screen and (max-width: 768px){
    body{font-size: 12px;}
}
@media screen and (max-width: 480px){
    body{font-size: 10px;}
}*/

.kbase-ui strong,
.kbase-ui b {}

.kbase-ui em,
i {}

strong em,
em strong,
b i,
i b {}

body.kbase-ui {
    font-family: 'Oxygen', Arial, sans-serif;
    color: #333333;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a:hover,
.pointer {
    cursor: hand;
    cursor: pointer;
}

table {
    font-size: 14px !important;
}

.hr {
    /* line with smaller margin */
    margin: 5px 0;
}

hr.ws-hr {
    margin: 5px -20px 10px -40px;
    /*border: 1px solid #eee;*/
}

#logo {
    margin: 2px 10px 0 10px;
}


/* fix styling issues */

#signin-button {
    margin: 15px 7px 0 0;
}

.badge {
    padding-top: 5px;
    padding-left: 8px;
}

.label {
    padding: .4em .6em .3em;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
}


/*
 *  Slide-Down Notifications
*/

#notification-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#notification {
    color: #000;
    opacity: .8;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background: #acc474;
}

#notification.error {
    color: #fff;
    background: #a93c3c;
}

.caret-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #444;
}

.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #444;
}

.caret-up {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: none;
    border-bottom: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top-width: 0px;
    border-top-style: dotted;
    content: "";
}

.scroll-pane {
    overflow-y: scroll;
}

.overflow-x {
    overflow-x: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

#select-box {
    height: 100%;
    margin: 5px 0 0 0;
}

#select-box tr td {
    padding: 7px;
}

.ws-selector-table {
    background: #fff;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.ws-selector-table td {
    width: 100%;
    position: relative;
    display: block;
    border-style: solid;
    border-width: 1px 0 0 0 !important;
}

.btn-ws-settings {
    position: absolute;
    right: 5px;
    top: 6px;
}

.btn-ws-settings .glyphicon {
    top: 2px;
    /* just perfect, due to positioning */
}

.narrative-filters .active,
.selected-ws,
.selected,
.selected td {
    background-color: #428bca !important;
    color: #fff;
}

.narrative-filters a:hover {
    color: #2a6496;
    text-decoration: none;
}

.narrative-filters .active:hover,
.selected-ws:hover {
    /* fixme */
    color: #fff !important;
    background-color: #428bca !important;
}

.settings-dropdown {
    padding: 5px 10px 10px 10px;
}

.settings-dropdown .btn {
    width: 100%;
}

.selected-obj-alert {
    margin-bottom: 5px;
    /* override */
    padding-top: 10px;
    padding-bottom: 10px;
}

.heatmap-view {
    overflow-x: scroll;
}

.modal-alert {
    margin: 10px 15px 0px 15px;
    padding: 8px 15px;
}

.modal-cover {
    position: absolute;
    z-index: 10;
}

.modal-cover-table {
    display: table;
    position: static;
    width: 100%;
    height: 100%;
}

.modal-cover-cell {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

.modal-cover-box {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    -moz-box-shadow: 7px 7px 5px #888;
    -webkit-box-shadow: 7px 7px 5px #888;
    box-shadow: 7px 7px 5px #888;
    /*background: #95C07C;    */
}

.modal-cover-content {
    padding: 5px;
    background: white;
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#sortable-landing {
    padding: 0;
    list-style: none;
}

#sortable-landing li {
    padding: 0;
    list-style: none;
}

.panel-title,
.panel-subtitle,
.panel-heading .label {
    cursor: default;
}

#sortable-landing .panel-default>.panel-heading {
    background-color: #E7EDF2;
}

.main #sortable-landing .panel-default>.panel-heading {
    background-color: #F5F5F5;
}

#sortable-landing .panel-title {
    color: #0072AF;
}

.main #sortable-landing .panel-title {
    color: #323232;
}

#sortable-landing .panel-subtitle {
    color: #888;
    font-family: 'Oxygen', Arial, sans-serif;
}

.main #sortable-landing .panel-subtitle {
    color: #323232;
    font-family: 'Oxygen', Arial, sans-serif;
}

#sortable-landing th {
    font-family: 'Oxygen', Arial, sans-serif;
}

.main #sortable-landing th {
    font-family: 'Oxygen', Arial, sans-serif;
    font-weight: normal;
}

.panel-title {
    /*color: #0072AF;*/
    font-family: 'Oxygen', Arial, sans-serif;
    font-weight: bold;
}

.obj-table-header-title {
    font-family: 'RobotoBlack', Arial, sans-serif;
    font-size: 14pt;
}

.obj-table-header-descript {
    margin: -5px 0 0 0;
}

.obj-table-header-descript .glyphicon-pencil {
    position: absolute;
    top: 0;
}

.obj-table-header-descript .popover {
    max-width: 1200px;
}

.drag-placeholder {
    height: 58px;
    border: 1px solid #6da8cf;
    background: #e0f7ff;
    margin: 0 0 20px 0;
}

.obj-header {
    margin: 0 0 10px 0;
}

.object-view .tab-content {
    margin: 10px 0 0 0;
}


/*
 *  Narrative Pages
*/

.btn-new-narrative {
    width: 150px;
    margin: 0 20px 0px 0;
}

.narrative-filters {
    margin: 5px 0;
}

.narrative-filters a {
    background: #fff;
    padding: 10px;
    display: block;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    color: #428bca;
    font-size: 14px;
}

.narrative-filters a:last-child {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.narrative-filters a:first-child {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.recent-nars {
    list-style: none;
    line-height: 1.0;
}

.recent-nars li {
    margin: 0 0 5px 0;
}

.recent-nar-time {}

.narrative-feed {
    margin: 0px 10px;
}

.narrative-options-container {
    border-bottom: 1px solid #ccc;
}

.narrative-options {
    margin: 20px 0 0 10px;
}

.narrative-options a {
    margin: 0 20px 0 20px;
}

.narrative-options .glyphicon {
    color: #444;
}

.narrative-options a:hover {
    opacity: 0.7;
}

.table-options .btn {
    height: 34px;
    /* make all buttons equal height */
    margin: 0 3px 0 0;
}


/*
 * text overflow 
*/

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
}

.table-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* custom checkboxes (prototyped) */

.ncheck {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

.ncheck:hover,
.ncheck-hover {
    border: 1px solid #444;
}

.ncheck-btn {
    width: 15px;
    height: 15px;
    border: 1px solid #888;
    margin: 4px 0px 4px -1px;
}

.ncheck-btn:hover {
    border: 1px solid #444;
}

.ncheck-checked {
    background: url(../img/checkmark.png) no-repeat -5px -4px;
    background-image: -webkit-image-set(url(../img/checkmark.png) 1x, url(../img/checkmark_2x.png) 2x);
}

.ncheck-minus {
    background: url(../img/checkmark-partial.png) no-repeat -5px -5px;
    background-image: -webkit-image-set(url(../img/checkmark-partial.png) 1x, url(../img/checkmark-partial_2x.png) 2x);
}

.type-filter {
    margin: 0 20px 0 0;
}

.btn-trash {
    margin: 3px 20px 0 0;
}

.btn-show-info .glyphicon {
    padding: 0px 0px 4px 0px;
}

.open-obj {
    margin: 7px 0 0 20px;
}


/******************	narrative     ***************/

#login-form {
    margin: 70px 0 0 0;
}

#narrative-nav,
.recent-nars,
.recent-projects {
    padding: 0;
    margin: 0;
}

#project-table td {
    border-width: 1px 0 0 0;
    border-color: #eee;
}

.group-item-expander {
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    background: #f8f8f8;
    /*#d6eaff;*/
    padding: 8px 10px 0 10px !important;
    /*margin: 10px 2px 0px 2px !important; */
}

.group-item-expander:hover {
    background: #f8f8f8 !important;
    /* override boostrap hover */
}

.group-item-expander:hover {
    cursor: hand;
    cursor: pointer;
}

.nar-selected,
.table-hover .nar-selected:hover>td {
    /* override boostrap hover */
    background-color: #e0f7ff !important;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #fcfcfc;
}

.proj-opts {
    margin: 0 0 8px 0;
}

.btn-delete-narrative {
    cursor: hand;
    cursor: pointer;
}

.navbar-fixed-top {
    z-index: 500;
}

.object-view .dataTable {
    margin: 10px 0 0 0;
}

.narrative-sidebar li {
    list-style: none;
}

.sidebar .nav-tabs>li.active>a {
    background: #f9f9f9;
    border-top: 4px solid #428bca;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 5px 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f9f9f9;
        border-right: 2px solid #eee;
    }
}

.main-fullsize {
    padding: 0 0 0 50px;
}

.sidebar-minimized {
    width: 40px;
}

.sidebar-header {
    font-size: 14px;
    color: #898989;
    font-family: 'RobotoBlack', Arial, sans-serif;
    letter-spacing: 0;
    font-weight: normal;
}

.view-header {
    font: 1.5em/1.75em 'RobotoBlack', Arial, sans-serif;
    font-weight: normal;
    color: #898989;
    letter-spacing: 0;
}

.active .btn-narr {
    background-color: #BBE8F9;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #428bca;
    font-family: Oxygen;
    font-weight: bold;
    font-size: 14px;
}

.btn-narr {
    background-color: #f2f2f2;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #DBDBDB;
    color: #6DA8CF;
    font-family: 'RobotoBlack', Arial, sans-serif;
    font-size: 14px;
}

.btn-rm-panel,
.btn-min-panel {
    margin: -5px 0 0 4px;
    /* adjust for container margin */
    font-size: 1.3em;
}

.project-shared-with {
    margin: 0 40px 0 0;
}

.table-options .checkbox {
    margin: 10px 0 0 50px;
}


/* provide underlines in prettyprinted links */

.prettyprinted a {
    text-decoration: underline;
}


/* more subtle buttons...*/

.btn.btn-kbase-subtle {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}

.btn.btn-kbase-subtle:active,
.btn.btn-kbase-subtle:focus,
.btn.btn-kbase-subtle:hover {
    background-color: rgba(200, 200, 200, 0.4);
    border-color: rgba(200, 200, 200, 0.4);
}

.btn.btn-kbase-compact {
    padding: 3px 6px;
}


/* Safari fixes */

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ececec;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #666;
}