.main {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 0;
}

.sidebar {
    flex: 0 0 12em;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
    margin-right: 0.5em;
}

.body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}