@charset "UTF-8"
/* @import url(/css/kb-icons.css); */
/* from old index.css, referenced from index.html */

/**
 * The root component is where the app is mounted in main.tsx
 *
 * kbase-ui is constrained to the full-height flexbox established at the very top level.
*/
.root {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

* {
    min-width: 0;
    /* min-height: 0; */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 0;
}

/* 
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */

/* Bootstrap Extensions  - new stuff - move somewhere else */


/* Make the bootstrap table a bit more plain and unassuming */

.table.table-plain {
    margin: 0;
}

.table.table-plain td,
.table.table-plain th {
    border: none;
}


/* Paragraph with a sane max width */

p {
    max-width: 60em;
}

p:last-child {
    margin-bottom: 0;
}

/* Main body area, standard padding and behavior. */
.main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    margin: 0.5em;
}

/* Flex based table */

.flex-table {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.flex-row {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

.flex-col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 0.1em;
    margin: 0 0.5em;
}

.flex-col:first-child {
    margin-left: 0;
}

.flex-col:last-child {
    margin-right: 0;
}

.flex-row.-header .flex-col {
    font-weight: bold;
    color: rgba(150, 150, 150, 1)
}

/* Rando BS fixes */

.fa-spin {
    -webkit-filter: blur(0);
}


.PropertyTable {
    border-collapse: collapse;
}

.PropertyTable th,
.PropertyTable td {
    text-align: left;
    padding: 4px;
    vertical-align: top;
}

.PropertyTable th {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

.PropertyTable.-row-borders th {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.PrettyList {
    list-style: none;
    list-style: disc;
    margin: 0;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}




.LayoutTable {
    width: 100%;
    border-collapse: collapse;
}

.LayoutTable th,
.LayoutTable td {
    text-align: left;
    padding: 4px;
    vertical-align: top;
}

.LayoutTable th {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.LayoutTable td {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}


.LayoutTable tr:last-child>td {
    /* border-bottom: 1px solid rgba(100, 100, 100, 0.5); */
    border-bottom: none;
}