html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Bootstrap Extensions  - new stuff - move somewhere else */

.well {
    border-radius: 1em;
    border: 3px solid rgba(200, 200, 200, 0.4);
    display: flex;
    flex-direction: column;
}

.well-header {
    flex: 0 0 auto;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding: 0.75em;
    font-size: 120%;
    font-weight: bold;
    color: rgb(150 150 150);
}

.well-body {
    flex: 1 1 0;
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.well-section {
    flex: 0 0 auto;
    padding: 0.75em;
}

.well-title {
    flex: 0 0 auto;
    border-top: 1px solid rgba(200, 200, 200, 0.4);
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding: 0.75em;
    font-weight: bold;
    color: rgb(150 150 150);
}

.well-footer {
    flex: 0 0 auto;
    border-top: 1px solid rgba(200, 200, 200, 0.4);
    padding: 0.75em;
}

/* Make the bootstrap table a bit more plain and unassuming */

.table.table-plain {
    margin: 0;
}

.table.table-plain td, 
.table.table-plain th {
    border: none;
}


/* Paragraph with a sane max width */

p {
    max-width: 60em;
}

/* Main body area, standard padding and behavior. */
.main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    margin: 0.5em;
}

/* Flex based table */

.flex-table {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.flex-row {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

.flex-col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 0.1em;
    margin: 0 0.5em;
}

.flex-col:first-child {
    margin-left: 0;
}

.flex-col:last-child {
    margin-right: 0;
}

.flex-row.-header .flex-col {
    font-weight: bold;
    color: rgba(150, 150, 150, 1)
}
