.TypeView {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
}

.TypeView  .tab-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.TypeView .tab-content > .tab-pane.active{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.TypeView .-tab-pane-wrapper {
    margin-top: 1rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}