{
    "deploy": {
        "environment": "{{ default .Env.deploy_environment "dev" }}",
        "hostname": "{{ default .Env.deploy_hostname "localhost" }}",
        "icon": "{{ .Env.deploy_icon }}",
        "name": "{{ .Env.deploy_name }}",
        "services": {
            "urlBase": "https://{{ default .Env.deploy_hostname "localhost" }}",
            "dynamicServiceProxies": [{{ range $i, $v := split .Env.dynamic_service_proxies " " }}{{ if $i }}, {{end}}"{{ $v }}"{{ end }}]
        }
    },
    "ui": {       
        "services": {
            "analytics": {
                "google": {
                    "hostname": "{{ .Env.ui_services_analytics_google_hostname }}",
                    "code": "{{ .Env.ui_services_analytics_google_code }}"
                }
            },
             "session": {
                "cookie": {
                    "backup": {
                        "domain": {{ if .Env.ui_backupCookie_domain }}"{{.Env.ui_backupCookie_domain}}"{{else}}null{{end}},
                        "enabled": {{ default .Env.ui_backupCookie_enabled "false"}}
                    }
                }
            },
            "menu": {
                "menus": {
                    "hamburger": {
                        "disabled": {{ default .Env.ui_services_menu_hamburger_disabled "null" }}
                    },
                    "sidebar": {
                        "disabled": {{ default .Env.ui_services_menu_sidebar_disabled "null" }}
                    }
                }
            }
        },
        "allow": {{ .Env.allow }},
        "featureSwitches": {
            "enabled":  {{ .Env.ui_featureSwitches_enabled }},
            "disabled": {{ .Env.ui_featureSwitches_disabled }}
        }
    },
    "services": {
        "narrative": {
            "url": "{{ .Env.services_narrative_url }}"
        },
        "auth2": {
            "providers": {{ default .Env.services_auth2_providers "null" }},
            "version": {
                "minimum": {{ .Env.services_auth2_version_minimum }}
            }
        }
    }
}
