.IFrameController {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.IFrameController > .-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.IFrameController > .-cover > .PluginLoading {
    margin-top: 20px;
    min-height: 4em;
    min-width: 30em;
    max-width: 60em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
