<div class="container-fluid kbase-view kbase-search-view">
    <div class="row search-sections">
        <div class="col-sm-3 col-md-3 col-lg-3 search-left-nav search-leftarea-size"> <!-- left navigation columns -->
            <div class="search-leftarea-size"> <!-- Narrative selected -->                            
                <div class="col-sm-12 col-md-12 col-lg-12 search-leftarea-size">
                    <div ng-hide="options.userState.session.token" class="alert alert-warning search-login">
                        <div id="login-message" class="text-center">
                            <a ng-click='login()'>Sign in</a> to import to your Narratives
                        </div>
                    </div>
                    <!--                  
                    <div ng-show="options.userState.session.token" class="alert alert-success search-logout">
                        <div id="logout-message" class="text-center">                                                    
                            Logged in as <strong>{{options.userState.session.user_id}}</strong>                                                
                        </div>
                        <div class="text-center">{{options.userState.session.name}}</div>
                        <div class="text-center">
                            <a ng-click='logout()'>Sign out</a>
                        </div>
                    </div>
                    -->


                    <div ng-hide="!options.userState.session.token || options.userState.session.selectedWorkspace" class="alert alert-warning">
                        <div class="text-center">
                            <span class="search-cart-label"><a ng-click="options.userState.session.selectedWorkspace = undefined; listWorkspaces();">Select a Narrative</a></span>
                        </div>
                    </div>
                    <div ng-show="options.userState.session.selectedWorkspace" class="alert alert-success">
                        <div class="text-center">
                            <span>Copy to Narrative</span>
                        </div>
                        <div>
                            <button type="button" class="btn-xs btn-danger btn-select-narrative" ng-click="options.userState.session.selectedWorkspace = undefined" ng-show="options.userState.session.transfer_cart.size == 0 && !options.transferring"><span class="glyphicon glyphicon-remove-sign"></span></button>
                        </div>
                        <div class="text-center">
                            <span class="glyphicon glyphicon-hdd"></span>
                            <span class="search-cart-label">{{options.userState.session.selectedWorkspaceName}}</span>
                            <span class="badge badge-info" ng-repeat="w in options.userState.longterm.workspaces" ng-if="w[1] == options.userState.session.selectedWorkspace">{{w[4]}}</span>
                        </div>
                    </div>
                    
                    <div ng-show="options.userState.session.selectedWorkspace" class="text-center">
                        <!--
                        <div class="search-transfer-row" ng-show="options.userState.session.transfer_cart.size > 0">
                            <button type="button" class="btn btn-primary" ng-class="{disabled: !options.userState.session.selectedWorkspace || options.transferring}" ng-click="copyData(options.selectedCategory)">Copy<span class="glyphicon glyphicon-transfer"><span></button>
                        </div>
                        <div class="search-transfer-row search-transfer-row" ng-show="options.userState.session.data_cart.size == 0 && !options.transferring">
                            <p>Select data to copy.</p>
                        </div>
                        -->
<!--
                        <div class="search-transfer-row search-transfer-progress" ng-show="options.userState.session.data_cart.size >= 0 && options.transferring">
                            <div class="text-center">Object Copy Requests Sent</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'min-width': (options.transferRequests/options.transferSize * 100.0) + '%'}">
                                    {{options.transferRequests}}/{{options.transferSize}}
                                </div>
                            </div>
                        </div>
-->
                        <div class="search-transfer-row search-transfer-progress" ng-show="options.objectsTransferred > 0 && options.transferSize > 0 && options.userState.session.data_cart.size > 0">
                            <div class="text-center">Completed Object Copies</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'min-width': (options.objectsTransferred/options.transferSize * 100.0) + '%'}">
                                    {{options.objectsTransferred}}/{{options.transferSize}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="workspace-area" ng-class="{'panelAnimateOut': options.userState.session.displayWorkspaces, 'panelAnimateIn': !options.userState.session.displayWorkspaces}" ng-show="options.userState.session.displayWorkspaces">
                        <ul class='nav nav-pills nav-stacked scroll-menu'>
                            <li id="{{w[1].replace(':','_')}}_{{w[4]}}" ng-repeat="w in options.userState.longterm.workspaces" ng-class="{'workspace-chosen': '{{options.userState.session.selectedWorkspace}}' == '{{w[1]}}'}">
                                <a ng-click='selectWorkspace(w)'>
                                    <div class="text-left">
                                        <span class="glyphicon glyphicon-hdd"></span>
                                        <span>{{w[8].narrative_nice_name}}</span>
                                        <span class='badge pull-right'>{{w[4]}}</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>



                    
                    <div ng-show="options.userState.session.token">
                        <div class='text-center search-selections-title'>
                            <h3 data-toggle="tooltip" data-placement="right" tooltip="Here you can see what data you have selected, organize it, and send it to Narratives." tooltip-placement="right">Selections</h3>
                        </div>

                        <div class="text-center">
                            <span class="badge" style="font-size:18px; margin-left: auto; margin-right: auto;">{{options.userState.session.data_cart.size | number}}</span>
                            <div data-toggle="tooltip" data-placement="top" tooltip="This cart represents your data selections." tooltip-placement="top">
                                <span class="glyphicon glyphicon-shopping-cart search-cart"></span>
                            </div>
                        </div>
                
                        <div class="text-center">
                            <div style="margin-bottom: 5px;">
                                <button rel="tooltip" tooltip="Transfer my selections to Narratives." tooltip-placement="bottom" data-placement="bottom" data-toggle="modal" data-target="#transferPanel" type="button" ng-class="{'disabled': options.userState.session.data_cart.size < 1 || !options.userState.session.selectedWorkspace}" class='btn btn-primary' ng-click="copyData(options.selectedCategory)">
                                    <span class="glyphicon glyphicon-hdd"></span>
                                    <span> </span>
                                    <span class="glyphicon glyphicon-transfer"></span>
                                    <span> </span>
                                    <span class="glyphicon glyphicon-file"></span>
                                </button>
                                <!--
                                <button rel="tooltip" tooltip="Transfer my selections as a set to Narratives." tooltip-placement="bottom" data-placement="bottom" data-toggle="modal" data-target="#transferPanel" type="button" ng-class="{'disabled': options.userState.session.data_cart.size < 1 || !options.userState.session.selectedWorkspace || !options.userState.session.set[options.selectedCategory]}" class='btn btn-setcopy' ng-click="copySet(options.selectedCategory)">
                                    <span class="glyphicon glyphicon-hdd"></span>
                                    <span> </span>
                                    <span class="glyphicon glyphicon-transfer"></span>
                                    <span> </span>
                                    <span class="glyphicon glyphicon-book"></span>
                                </button>
                                -->
                                <button data-toggle="tooltip" data-placement="bottom" tooltip="Discard my data selections." tooltip-placement="bottom" type="button" ng-class="{'disabled': options.userState.session.data_cart.size < 1}" class='btn btn-danger' ng-click='emptyCart()'>
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>              
                            </div> <!-- end Narrative send button group -->
                        </div>
                    </div>
                </div> <!-- end all Narrative button groups -->
            </div> <!-- end Narrative-selected area -->
        
            <div ng-show="getTotalCount() > 0 && options.selectedCategory" class="col-sm-12 col-md-12 col-lg-12 search-categories search-leftarea-size"> <!-- categories -->
                <hr class="search-leftarea-size"></hr>

                <div ng-hide="options.userState.session.data_cart.size > 0">                 
                    <div class='text-center search-categories-title'>
                        <h3 data-toggle="tooltip" data-placement="right" tooltip="Navigate between different data types that match your search." tooltip-placement="right">Show Results for</h3>
                    </div>
                    <div class="col-md-12 search-categories-row search-category-nav">
                        <div>
                            <a id="Public" href="" class="btn btn-link search-category-link" ng-click="selectCategory(null)">
                                <strong>Back to Any Category</strong>
                            </a>

                            <div ng-hide="options.categoryCounts[p.category] < 1 || !isInActiveCategoryTree(p.category)" ng-repeat="p in options.categoryInfo.displayTree.unauthenticated.children">
                                <div class="search-categories-row animated fadeInLeft">
                                    <a ng-show="p.label.length < 23" id="{{p.category}}" href="" ng-class="{'search-selected-category-link': p.category == options.selectedCategory}" class="btn btn-link search-category-link" ng-click="$parent.selectCategory(p.category)">
                                        {{p.label}}<span class='search-space-left'> </span>({{options.categoryCounts[p.category] | number}})
                                    </a>
                                    <a viewport=".search-category-nav" data-toggle="tooltip" data-placement="top" tooltip="{{p.label}}" tooltip-placement="top" ng-show="p.label.length >= 23" id="{{p.category}}" href="" ng-class="{'search-selected-category-link': p.category == options.selectedCategory}" class="btn btn-link search-category-link" ng-click="$parent.selectCategory(p.category)">
                                        {{p.label | limitTo: 23}}...<span class='search-space-left'> </span>({{options.categoryCounts[p.category] | number}})
                                    </a>
                                </div>
                                <div ng-hide="options.categoryCounts[k.category] < 1 || !isInActiveCategoryTree(k.category)" class="search-space-left animated fadeInLeft" ng-repeat="k in p.children" class="search-categories-row">
                                    <a id="{{k.category}}" href="" ng-class="{'search-selected-category-link': k.category == options.selectedCategory}" class="btn btn-link search-category-link" ng-click="$parent.$parent.selectCategory(k.category)">
                                        {{k.label}}<span class='search-space-left'> </span>({{options.categoryCounts[k.category] | number}})
                                    </a>
                                </div>
                            </div> <!-- end children of Public category -->
                        </div> <!-- end Public category -->
                    </div> <!-- end category hierarchy -->
                </div>
                <div ng-hide="options.userState.session.data_cart.size == 0">
                    <div class="text-center">
                        <strong>Empty the items in your cart before moving to a new category.</strong>
                    </div>
                </div>

                <hr class="search-leftarea-size"></hr>
    
                <div ng-show="options.facets && options.resultJSON.totalResults > 0">
                    <div class='text-center search-filters-title'>
                        <h3 data-toggle="tooltip" data-placement="right" tooltip="Select options to help narrow your search results." tooltip-placement="right">Refine by</h3>                    
                        <button type="button" class="btn btn-danger btn-xs search-filter-remove-button" ng-click="removeAllFacets()" ng-if="options.active_facets[options.selectedCategory] && Object.keys(options.active_facets[options.selectedCategory]).length > 0" data-toggle="tooltip" data-placement="top" tooltip="Use this button to remove all the filters you have selected." tooltip-placement="top"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="search-leftarea-size search-filter-groups">
                        <div id="{{facet.key}}" class="panel-group" ng-repeat="facet in options.facets" ng-if="facet.count > 0">                            
                            <div class="panel panel-filter-content">
                                <div class="panel-heading panel-filter-heading">
                                    <div ng-if="facet.key.length > 23" class="panel-title search-filter-title" data-toggle="tooltip" data-placement="right" tooltip="{{facet.key}}" tooltip-placement="right">
                                        <div>
                                            <span>{{facet.key | limitTo: 20}}...</span>
                                            <span ng-if="options.searchOptions.perCategory[options.selectedCategory]['facets'] && options.active_facets[options.selectedCategory][facet.key]" class="badge search-filter-count-badge">{{Object.keys(options.active_facets[options.selectedCategory][facet.key]).length}}</span>
                                        </div>
                                    </div>
                                    <div ng-if="facet.key.length <= 23" class="panel-title search-filter-title">
                                        <div>
                                            <span>{{facet.key}}</span>
                                            <span ng-if="options.searchOptions.perCategory[options.selectedCategory]['facets'] && options.active_facets[options.selectedCategory][facet.key]" class="badge search-filter-count-badge">{{Object.keys(options.active_facets[options.selectedCategory][facet.key]).length}}</span>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="{{facet.key}}_panel">
                                    <div ng-show="facet_option.value > 0" ng-repeat="facet_option in facet.value" class="row filter-section">
                                        <a href="" ng-click="toggleFacet(facet.key, facet_option.key, options.active_facets[options.selectedCategory][facet.key][facet_option.key])" class="search-checkbox-link">
                                            <span class="glyphicon" ng-class="{'glyphicon-check': options.active_facets[options.selectedCategory][facet.key][facet_option.key],'glyphicon-unchecked': !options.active_facets[options.selectedCategory][facet.key][facet_option.key]}"/>                    
                                        </a>
                                        <span class="search-halfspace-left">{{facet_option.key}}</span>
                                        <span class="search-halfspace-left">({{facet_option.value | number}})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end categories -->
        </div> <!-- end filter section -->

        <div ng-cloak class="col-sm-9 col-md-9 col-lg-9 search-result-section"> <!-- search results section -->

            <div class="row search-bar">
                <form class="input-group" ng-submit="newSearch()">
                    <input data-toggle="tooltip" data-placement="bottom" tooltip="{{getSearchbarTooltipText()}}" tooltip-placement="bottom" class="form-control" autofocus required ng-model="options.searchOptions.general.q" placeholder="Search KBase Data" autocomplete="off" type="search"/> 
                    <span class="input-group-btn">
                        <button type="submit" class="btn" style="background-color: #ebebeb; border-color: #adadad; border-left:none">
                            <span class="glyphicon glyphicon-search" style="line-height: .9"></span>
                        </button>
                    </span>
                </form>
                <!--
                <br/>
                <div class="lead"><span>OR</span>&nbsp; &nbsp; &nbsp; <a href="/search/#/homology/">Search by sequence homology</a></div>
                -->
            </div>

            <div class="col-md-12 col-lg-12 search-result-section"> <!-- all results -->                            
                <div ng-if="options.searchOptions.general.q && getTotalCount() < 1 && !options.selectedCategory && !searchActive" class="search-results-select-category">
                    <div class="alert alert-danger">
                        <strong>No results found for any data type.</strong>
                    </div>
                </div>

                <div ng-if="options.searchOptions.general.q && options.selectedCategory && options.categoryCounts[options.selectedCategory] < 1 && !searchActive" class="search-results-select-category">
                    <div class="alert alert-danger">
                        <strong>No results found in {{options.searchCategories[options.selectedCategory].label}}.</strong>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 search-results">
                    <!-- Show this when no category is selected -->
                    <div ng-if="!options.selectedCategory && getTotalCount() > 0" class="col-md-12 col-lg-12 search-results-select-category"> 
                        <div class="row">                        
                            <table>
                                <h3>Objects that match <i>{{options.searchOptions.general.q}}</i></h3>
                                <tr ng-if="options.searchCategories[p.category] && options.categoryCounts[p.category] > 0" ng-repeat="p in options.categoryInfo.displayTree['unauthenticated'].children">
                                    <td class="search-category-title" ng-click="selectCategory(p.category)">
                                        <a><span>{{p.label}}</span></a>
                                    </td>
                                    <td class="search-category-title search-space-left animated lightSpeedIn"><span class='search-space-left'>(</span>{{options.categoryCounts[p.category] | number}}<span>)</span></td>
                                </tr>
                            </table>
                        </div>                                    
                    </div>
                    <div class="col-md-12 col-lg-12 search-results" ng-show="options.resultsAvailable && options.selectedCategory && getTotalCount() > 0"> 
                        <div class="col-md-12 col-lg-12 search-result-set-header" ng-show="options.resultJSON.totalResults > 0 && options.categoryRelationships[options.selectedCategory].children.length == 0"> <!-- result options -->
                            <div class="col-md-12 search-results-counter">
                                <div>
                                    <span><strong>{{ 1 + ((options.resultJSON.currentPage - 1) * options.resultJSON.itemsPerPage) | number }}-{{ options.resultJSON.itemCount + ((options.resultJSON.currentPage - 1) * options.resultJSON.itemsPerPage) | number }} out of {{ options.resultJSON.totalResults | number }} results for {{options.searchCategories[options.selectedCategory].label}}</strong></span>
                                    <!--
                                    <button class="btn btn-xs btn-primary" type="button" ng-click="trackBreadcrumb(options.searchCategories[options.selectedCategory])"><strong>{{options.searchCategories[options.selectedCategory].label}}</strong></button>
                                    <div ng-repeat="b on options.userState.session.breadcrumbs">
                                        <span> : </span>
                                        <button class="btn btn-xs btn-primary" ng-click="trackBreadcrumb()" class="badge" type="button"><strong>{{b}}</strong></span>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <div class="col-md-12 search-results-toolbar">
                                <div ng-if="options.expandedCategories[options.selectedCategory]" class="btn-group btn-group-xs col-xs-2 search-view-buttons" data-toggle="buttons">
                                    <label for="list_view" class="control-label input-group">Views</label>
                                    <label data-toggle="tooltip" data-placement="left" tooltip="Compact results" tooltip-placement="top" class="btn btn-small btn-default" ng-class="{'active': options.userState.session.viewType == 'compact'}" ng-click="setView('compact')">
                                        <input type="radio" name="list_view"/>
                                        <span class="glyphicon glyphicon-list"></span>
                                    </label>
                                    <label data-toggle="tooltip" data-placement="right" tooltip="Expanded results" tooltip-placement="top" class="btn btn-small btn-default" ng-class="{'active': options.userState.session.viewType == 'expanded'}" ng-click="setView('expanded')">
                                        <input type="radio" name="list_view"/>
                                        <span class="glyphicon glyphicon-th-list"></span>
                                    </label>
                                </div>
                                <div ng-if="!options.expandedCategories[options.selectedCategory]" class="btn-group btn-group-xs col-xs-2 search-view-buttons"></div>
                                <div class="btn-group btn-group-xs col-xs-3 search-perpage-buttons" data-toggle="buttons">
                                    <label for="rpp" class="control-label input-group">Items per page</label>
                                    <label class="btn btn-default" ng-class="{'active': i == options.searchOptions.general.itemsPerPage}" ng-repeat="i in [10,25,50,100]" ng-click="setResultsPerPage(i)">
                                        <input type="radio" name="rpp" >{{i}}</input>
                                    </label>
                                </div>
                            </div> <!-- end toolbar row -->
                        </div> <!-- end result options -->
                        <div class="col-md-12 col-lg-12">
                            <!-- our output should go here normally -->
                            <div ng-show="options.resultJSON.totalResults > 0 || options.categoryRelationships[options.selectedCategory].children.length > 0 && getTotalCount() > 0" class="search-results-content-area" ng-include="options.templates[options.selectedCategory].root"></div> 

                            <!-- pagination controls should be at the bottom to slow down page requests through the UI -->
                            <div class="text-center search-results-content-area" ng-show="options.categoryRelationships[options.selectedCategory].children.length == 0">
                                <ul class="pagination" ng-class="{'fixed-pagination': options.resultJSON.totalResults <= options.pageLinksRange.length * options.resultJSON.itemsPerPage,'small-pagination': options.resultJSON.totalResults > options.numPageLinks && options.resultJSON.currentPage - options.numPageLinks <= 0,'large-pagination': options.resultJSON.currentPage - options.numPageLinks > 0 }">
                                    <li ng-if="options.resultJSON.currentPage - options.numPageLinks > 0">
                                        <a ng-click="setCurrentPage(options.pageLinksRange[0] - 1)">&larr; Previous {{options.numPageLinks}}</a>
                                    </li>
                                    <li ng-class="{'active': p == options.resultJSON.currentPage}" ng-repeat="p in options.pageLinksRange">
                                        <a ng-click="setCurrentPage(p)">{{p}}</a>
                                    </li>
                                    <li ng-if="(options.pageLinksRange[0] + options.numPageLinks) * options.resultJSON.itemsPerPage < options.resultJSON.totalResults">
                                        <a ng-click="setCurrentPage(options.pageLinksRange[0] + options.numPageLinks)">Next {{options.numPageLinks}} &rarr;</a>
                                    </li>
                                </ul>                        
                            </div>
                        </div>
                    </div> <!-- end specific category results row -->
                </div> <!-- end results inner row -->
            </div> <!-- end results outer row -->
        </div> <!-- end results section -->

        <div class="hidden">
            <div id="loading_message">
                <strong>KBase</strong>
                <div id="loading_message_icon">
                    <img src="assets/img/kbase_animated_logo.gif" alt="animated_logo"/>
                </div>
                <div id="loading_message_text">Searching...</div>
            </div>
        </div>

        <div id="error" class="row hidden">
            Sorry, an error occurred. Please try again.
            <hr></hr>
            <div id="error_text"></div>
        </div>

    </div> <!-- end search sections -->

</div>