/* LAYOUT */

.MainWindow .navbar-right {
    margin-right: 0;
}

/* NEW LAYOUT */

.MainWindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 0;
}

.MainWindow .-header {
    flex: 0 0 70px;
}

.MainWindow .-body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.MainWindow .-body>.-nav {
    flex: 0 0 75px;
}

.MainWindow .-body>.-content {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 1em;
}

.MainWindow .-body>.-content-area {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.MainWindow .-body>.-content-area>.-notification-banner {
    flex: 0 0 0px;
}

.MainWindow .-body>.-content-area>.-plugin-content {
    flex: 1 1 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

/* Own */

.MainWindow .-navbar .navbar-title {
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
    font-size: 120%;
    font-weight: bold;
}

.MainWindow .-navbar .navbar-title .title {
    font-weight: bold;
    font-size: 120%;
}

.MainWindow .-navbar .navbar-buttons {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px solid #e0e0e0;
}

.MainWindow .-navbar .-cell.-menu {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2px 4px 0 4px;
}

.MainWindow .-navbar .-cell.-logo {
    align-items: center;
    justify-content: center;
    display: flex;
}

.MainWindow .-navbar .-cell.-title {
    flex: 1 1 0px;
    align-items: center;
    justify-content: left;
    display: flex;
    width: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MainWindow .-navbar .-cell.-menu {}

.MainWindow .-navbar .-cell.-title {
    padding-left: 10px;
}

.MainWindow .-navbar .-cell.-notification {
    align-items: center;
    justify-content: center;
    display: flex;
}

.MainWindow .-navbar .-cell.-alerts {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 4px;
}

.MainWindow .-navbar .-cell.-deployment {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 4px;
}

.MainWindow .-navbar .-cell.-login {
    margin-right: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Navbar */

/* 
 *  Main Navigation Bar
*/

.MainWindow .-navbar {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 5px solid #E0E0E0 !important;
    height: 70px;
}

.navbar-fixed-top {
    z-index: 3;
}

/* Own */

.MainWindow .-navbar .navbar-title {
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
    font-size: 120%;
    font-weight: bold;
}

.MainWindow .-navbar navbar-title .title {
    font-weight: bold;
    font-size: 120%;
}

.MainWindow .-navbar .navbar-buttons {
    display: inline-block;
}

.MainWindow .-navbar .btn {
    vertical-align: middle;
}

.MainWindow .-navbar .btn.btn-default {
    border-color: transparent;
    border-width: 0;
    border-style: none;
}

.MainWindow .-navbar .btn.kb-nav-btn {
    background-color: #FFF;
    font-size: 24px;
    border: none;
    text-shadow: none !important;
    margin: 0;
}

.MainWindow .-navbar .btn.kb-nav-btn>div {
    color: #666 !important;
}

.MainWindow .-navbar .btn.kb-nav-btn .kb-nav-btn-txt {
    font-size: 10pt;
    margin-top: -5px;
}

/* Give the menu icons a blue color, whilst leaving the menu text what it is (black) */

.MainWindow .-navbar .fa::before {
    color: #2196F3;
}

.MainWindow .-navbar .fa.fa-color-warning::before {
    color: orange;
}

.MainWindow .-navbar .fa.fa-color-danger::before {
    color: red;
}

.MainWindow .-navbar .fa.fa-color-success::before {
    color: green;
}

/* Enable background hover for navbar buttons. It is disabled for other buttons */

.MainWindow .-navbar .kb-nav-btn:hover {
    background-color: #F5F5F5;
}

.MainWindow .-navbar .dropdown-menu .navbar-icon {
    display: inline-block;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.MainWindow .-navbar .dropdown-menu .navbar-icon .fa {
    font-size: 150%;
}

.MainWindow .-navbar .dropdown-menu li a {
    vertical-align: middle;
}

.MainWindow .-navbar .navbar-buttons .fa::before {
    /* color nav icons */
    color: #2196F3;
}

/* Body */

/* Tweak navbar, sidebar and main content areas to fit together 
The navbar and sidebar are fixed -- so out of flow and need absolute positioning 
Although the sidebar is partially positioned with part of the navbar.
The content area is normal flow and just needs to have a matching top margin.
*/

/* Top bar nav buttons
   --------------------------
*/

.kb-nav-button {
    /* don't add shadows here */
    box-shadow: none;
}

.fa-color-warning::before {
    color: orange;
}

.fa-color-danger::before {
    color: red;
}

.fa-color-success::before {
    color: green;
}

/* button bar */

.kb-widget-buttonbar {
    padding-top: 4px;
}

/* logo */


.MainWindow .widget-logo {
    display: flex;
    align-items: flex-end;
}

.MainWindow .widget-logo .-logo {
    flex: 1;
}

.MainWindow .widget-logo .-label {
    font-size: 26px;
    white-space: nowrap;
    flex: 1;
    margin-left: 3px;
}

.MainWindow .widget-logo .-label .-icon {
    font-size: 80%;
}

/* menu */

.MainWindow .widget-menu {
    flex: 1;
}

.MainWindow .widget-menu .navbar {
    margin: 0;
    min-height: 0;
}

.MainWindow .widget-menu .dropdown-menu .navbar-icon {
    display: inline-block;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.MainWindow .widget-menu .dropdown-menu .navbar-icon .fa {
    font-size: 150%;
}

.MainWindow .widget-menu .dropdown-menu li a {
    vertical-align: middle;
}

/* title */
.MainWindow .TitleWidget {
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
    flex: 1 1 0px;
    min-width: 0;
}

.MainWindow .TitleWidget h1 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* MainWindow component */
.MainWindow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}