<div class="dropdown" style="display: inline-block;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="assets/images/nouserpic.png" style="width: 40px;" class="login-button-avatar" data-element="avatar"></img>
        <span class="caret" style="margin-left: 5px;"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/#people/{{username}}" data-menu-item="userlabel">
                <div style="display:inline-block; width: 34px; vertical-align: top;">
                    <span class="fa fa-user" style="font-size: 150%; margin-right: 10px;"></span>
                </div>
                <div style="display: inline-block;" data-element="user-label">{{realname}}<br><i>{{username}}</i></div>
            </a>
        </li>
        <li class="divider"></li>
        <li><a href="/#" data-menu-item="logout"><div style="display:inline-block; width: 34px;"><span class="fa fa-sign-out" style="font-size: 150%; margin-right: 10px;"></span></div>Sign Out</a></ll>
    </ul>
</div>