.Table {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0
}

.Table-header {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 0
}

.Table-body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.Table-body-processing-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Table-spin-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 4px;
}

.Table-row {
    flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    min-height: 0;
    overflow: hidden;
}

.Table-row+.Table-row {
    margin-top: -1px;
}

.Table-cell {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    /* border: 1px solid silver; */
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    justify-content: center;
    overflow: hidden;
    min-height: 0;
    padding: 3px;
}

.Table-cell+.Table-cell {
    margin-left: -1px;
}

.Table-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Table-header .Table-cell {
    align-items: left;
}

.Table-nav {
    flex: 0 0 50px;
    background-color: silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.JSON .JSONObject {}

.JSON .JSONObject td,
.JSON .JSONObject th {
    border: 1px silver solid;
    padding: 4px;
}

.JSON .JSONArray {}

.JSON .JSONArray>div {
    border: 1px silver solid;
    padding: 4px;
}

.JSON .JSONBoolean {
    font-family: monospace;
}

.JSON .JSONString {}

.JSON .JSONNumber {}

.JSON .JSONNull {
    font-family: monospace;
}

.FullHeightModal .ant-modal-content {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}