.SigninButton {
    background-color: #fff;
    border: none;
    text-shadow: none !important;
    margin: 0;
    color: #2196f3;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    /* position: inline; */
    text-decoration: none;
    padding: 0.25em 0.5em;
}

.SigninButton.-disabled,
.SigninButton.-disabled .-icon.fa-inverse:before,
a.SigninButton.-disabled {
    color: rgba(150, 150, 150, 1);
}

a.SigninButton {
    color: #2196f3;
    text-decoration: none;
}


.SigninButton.-bordered {
    border: 1px solid rgba(33, 149, 243, 0.5);
    padding: 0.25em;
    border-radius: 0.25em;
}

.SigninButton .-label {}

.SigninButton .-icon {
    font-size: 24px;
}

.SigninButton .-icon.fa-inverse {
    color: #2196f3;
}

.SigninButton:hover {
    background-color: #f5f5f5;
}