.Developer {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin: 0 10px;
}

.Developer .tab-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Developer .tab-content .tab-pane.active {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
}