/*
 *  DataTables
*/


table.DTCR_clonedTable {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 202;
}

div.DTCR_pointer {
    width: 1px;
    background-color: #0259C4;
    z-index: 201;
}
.kbase-ui .dataTables_filter {
    text-align: right;
}
.kbase-ui .dataTables_length label, 
.kbase-ui .dataTables_filter label {
    margin: 6px 0 6px 0;
}
.kbase-ui .dataTables_filter input {
    margin-left: 4px;
}
.kbase-ui .dataTables_info {
    margin: 0 10px 0 0;
}
 
.kbase-ui .dataTables_length, .dataTables_info {
    float: left;
}

.kbase-ui .dataTables_wrapper {
    margin: 0.6em 0 0 0;
}

.kbase-ui table.dataTable thead .sorting,
.kbase-ui table.dataTable thead .sorting_asc,
.kbase-ui table.dataTable thead .sorting_desc,
.kbase-ui table.dataTable thead .sorting_asc_disabled,
.kbase-ui table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

.kbase-ui table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    xfloat: right;
    font-family: fontawesome;
    margin-left: 4px;
}

.kbase-ui table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    xfloat: right;
    font-family: fontawesome;
    margin-left: 4px;

}

.kbase-ui table.dataTable thead .sorting:after {
    content: "\f0dc";
    xfloat: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
    margin-left: 4px;
}