/*
 *  DataTables
*/


table.DTCR_clonedTable {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 202;
}

div.DTCR_pointer {
    width: 1px;
    background-color: #0259C4;
    z-index: 201;
}
.dataTables_filter {
    text-align: right;
}
.dataTables_length label, .dataTables_filter label {
    margin: 8px 0 4px 0;
}
.dataTables_filter input {
    margin-left: 4px;
}
.dataTables_info {
    margin: 0 10px 0 0;
}
 
.dataTables_length, .dataTables_info {
    float: left;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    xfloat: right;
    font-family: fontawesome;
    margin-left: 4px;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    xfloat: right;
    font-family: fontawesome;
    margin-left: 4px;

}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    xfloat: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
    margin-left: 4px;
}