.title {
    flex: 3 1 0;
    font-weight: bold;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag {
    font-style: italic;
    color: rgb(150, 150, 150);
    flex: 1 1 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}
