.title {
    font-weight: bold;
}

.content {
    max-height: 10em;
    overflow-y: auto;
    /* border: 1px solid rgb(200, 200, 200, 0.3); */
    /* border-radius: 1em; */
    padding: 1em;
    font-family: monospace;
    white-space: pre;
}
