<ul id="sortable-landing">
    <li>
        <div class="row">
            <div class="col-md-3"><div sortablemakresult></div></div>
            <div class="col-md-6"><div sortablemaktiles></div></div>
            <div class="col-md-3"><div sortablemakterms></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-3"><div sortablemakbicluster></div></div>
            <div class="col-md-9"><div sortableheatmap></div></div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-12"><div sortablelinechart></div></div>
        </div>
    </li>
</ul>
