.Navigator {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    min-height: 0;
    height: 100%;
}

.Navigator-Header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.Navigator-Body {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.Navigator-Sidebar {
    flex: 0 0 75px;
}

.Navigator-Content {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}

.Navigator .container-fluid {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Navigator .col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Navigator .tab-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;
}

.Navigator .tab-content > .active {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow-y: auto;
}

