{
    "deploy": {
        "environment": "{{ default .Env.deploy_environment "dev" }}",
        "hostname": "{{ default .Env.deploy_hostname "localhost" }}",
        "icon": "{{ .Env.deploy_icon }}",
        "name": "{{ .Env.deploy_name }}",
        "services": {
            "urlBase": "https://{{ default .Env.deploy_hostname "localhost" }}"
        }
    },
    "ui": {
        "backupCookie": {
            "domain": {{ if .Env.ui_backupcookie_domain }}"{{.Env.ui_backupcookie_domain}}"{{else}}null{{end}},
            "enabled": {{ default .Env.ui_backupcookie_enabled "false"}}
        },
        "services": {
            "analytics": {
                "google": {
                    "hostname": "{{ .Env.ui_services_analytics_google_hostname }}",
                    "code": "{{ .Env.ui_services_analytics_google_code }}"
                }
            }
        },
        "allow": {{ .Env.allow }}
    },
    "services": {
        "narrative": {
            "url": "{{ .Env.services_narrative_url }}"
        }
    }
}
