{
    "deploy": {
        "environment": "{{ .Env.deploy_environment }}",
        "hostname": "{{ .Env.deploy_hostname }}",
        "icon": "{{ .Env.deploy_icon }}",
        "name": "{{ .Env.deploy_name }}",
        "services": {
            "urlBase": "https://{{ .Env.deploy_hostname }}"
        }
    },
    "ui": {
        "backupCookie": {
            "domain": {{ if .Env.ui_backupcookie_domain }}"{{.Env.ui_backupcookie_domain}}"{{else}}null{{end}},
            "enabled": {{ default .Env.ui_backupcookie_enabled "false"}}
        },
        "services": {
            "analytics": {
                "google": {
                    "hostname": "{{ .Env.ui_services_analytics_google_hostname }}",
                    "code": "{{ .Env.ui_services_analytics_google_code }}"
                }
            },
             "session": {
                "cookie": {
                    "backup": {
                        "domain": {{ if .Env.ui_backupCookie_domain }}"{{.Env.ui_backupCookie_domain}}"{{else}}null{{end}},
                        "enabled": {{ default .Env.ui_backupCookie_enabled "false"}}
                    }
                }
            },
            "menu": {
                "menus": {
                    "hamburger": {
                        "disabled": {{ default .Env.ui_services_menu_hamburger_disabled "null" }}
                    },
                    "sidebar": {
                        "disabled": {{ default .Env.ui_services_menu_sidebar_disabled "null" }}
                    }
                }
            }
        },
        "allow": {{ .Env.allow }}
    },
    "services": {
        "narrative": {
            "url": "{{ .Env.services_narrative_url }}"
        }
    }
}
