<tr ng-if="item.taxonomy">
    <td class="search-result-column-expanded-entry-cell genome_expanded_header"><strong>Taxonomy:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.taxonomy}}</td>
</tr>                    
<tr ng-if="item.genome_source_id">
    <td class="search-result-column-expanded-entry-cell genome_expanded_header"><strong>Source Id:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.genome_source_id}}</td>
</tr>                    
<tr ng-if="item.cs_db_version">
    <td class="search-result-column-expanded-entry-cell genome_expanded_header"><strong>KBase DB Version:</strong></td>
    <td class="search-result-column-expanded-entry-cell">{{item.cs_db_version}}</td>
</tr>                    
