.name {
    font-weight: bold;
}

.version {
    flex: 0 0 auto;
    font-style: italic;
    color: rgb(150, 150, 150);
}

.headerStatus {
    font-style: italic;
    color: rgb(150, 150, 150);
    flex: 1 1 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.headerVersion {
    font-style: italic;
    color: rgb(150, 150, 150);
    flex: 0 0 4em;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.description {
    margin-top: 1em;
    /* max-height: 10em; */
    /* overflow-y: auto; */
    /* border: 1px solid rgb(200, 200, 200, 0.3); */
    /* border-radius: 1em; */
    /* padding: 1em; */
}

.id {
    font-family: monospace;
    white-space: pre;
}

.AppCell table th {
    color: rgba(150 150 150);
}
