<div ng-show="options.searchOptions.ui.object_type == 'KBaseSearch.Feature'" class="btn-group search-result-column-header col-md-3 col-lg-3 homology_function_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>Function</strong></div>
</div>
<div ng-show="options.searchOptions.ui.object_type == 'KBaseSearch.Feature'" class="btn-group search-result-column-header col-md-2 col-lg-2 homology_string_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>Genome</strong></div>
</div>
<div ng-show="options.searchOptions.ui.object_type == 'KBaseSearch.Genome'" class="btn-group search-result-column-header col-md-5 col-lg-5 homology_genome_header_large">
  <div class="search-column-name btn search-result-column-header-btn"><Strong>Genome</Strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn" style="text-align:right; padding-right:3px"><strong>Length</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn" style="text-align:right; padding-right:1px"><strong>Identity</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn" style="text-align:right; padding-right:3px"><strong>Query<br/>cover</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn" style="text-align:right; padding-right:3px"><strong>Subject<br/>cover</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn" style="text-align:center"><strong>Score</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn" style="text-align:center"><strong>E value</strong></div>
</div>
