<div class="col-md-1 col-lg-1 search-result-column homology_query_seq_field">{{item.qseqid}}</div>
<div class="col-md-2 col-lg-2 search-result-column homology_subj_seq_field">{{item.sseqid}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_numeric_field">{{item.pident}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_numeric_field">{{item.length | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_position_field">{{item.qstart | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_position_field">{{item.qend | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_position_field">{{item.sstart | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_position_field">{{item.send | number}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-center homology_numeric_field">{{item.evalue}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-center homology_numeric_field">{{item.bitscore}}</div>