<div ng-show="options.searchOptions.ui.object_type == 'KBaseSearch.Feature'" class="col-md-3 col-lg-3 search-result-column homology_function_field" ng-bind-html="item | buildFeatureLink"></div>
<div ng-show="options.searchOptions.ui.object_type == 'KBaseSearch.Feature'" class="col-md-2 col-lg-2 search-result-column homology_string_field" ng-bind-html="item | buildGenomeLink"></div>
<div ng-show="options.searchOptions.ui.object_type == 'KBaseSearch.Genome'" class="col-md-5 col-lg-5 search-result-column homology_genome_header_large" ng-bind-html="item | buildGenomeLink"></div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_numeric_field">{{item.length}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_numeric_field">{{item.pident}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_numeric_field">{{item.query_coverage}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-right homology_numeric_field">{{item.subject_coverage}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-center homology_numeric_field">{{item.bitscore}}</div>
<div class="col-md-1 col-lg-1 search-result-column text-center homology_numeric_field">{{item.evalue}}</div>
