<div class="btn-group search-result-column-header col-md-5 col-lg-5 homology_function_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>Function</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-2 col-lg-2 homology_string_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>Genome</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>Length</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>Identity</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>score</strong></div>
</div>
<div class="btn-group search-result-column-header col-md-1 col-lg-1 homology_numeric_header">
  <div class="search-column-name btn search-result-column-header-btn"><strong>e value</strong></div>
</div>
