.NarrativeListing {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 0 auto;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    margin-bottom: 0.5em;
}

.listing {
    flex: 1 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
