---
name: Build and Push Up Develop Branch Image
on:
  push:
    branches:
      - develop
# env:
#   BUILD: ci
#   VCS_REF: ${{ github.sha }}
#   BRANCH: ${{ github.ref }}
#   TAG: ${{ github.ref }}
jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out GitHub Repo
        uses: actions/checkout@v2
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"
      - name: Build and Push to Github Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
          registry: ghcr.io
          repository: ${{ github.repository }}
          build_args: BUILD=prod,BUILD_DATE=${{ steps.date.outputs.date }},VCS_REF=${{ github.sha }},BRANCH=${{ github.ref }},TAG=${{ github.ref }}
          tag_with_ref: true
