---
name: Build and Push Up Develop Branch Image
"on":
  push:
    branches:
      - develop
env:
  BUILD: ci
  VCS_REF: ${{ github.sha }}
  BRANCH: ${{ github.ref }}
  TAG: ${{ github.ref }}
jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out GitHub Repo
        uses: actions/checkout@v2
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      # - name: Login to DockerHub
      #   uses: docker/login-action@v1
      #   with:
      #     registry: ghcr.io
      #     # username: ${{ github.actor }}
      #     # password: ${{ secrets.GITHUB_TOKEN }}
      #     username: ${{ github.repository_owner }}
      #     password: ${{ secrets.ghcr_TOKEN }}
      # - name: Build and push
      #   # id: docker_build
      #   uses: docker/build-push-action@v2
      #   with:
      #     push: true
      #     registry: docker.pkg.github.com
      #     tags: eapearson/kbase-ui:develop
      #     build-args: BUILD=ci
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"
      - name: Build and Push to Github Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: eapearson/kbase-ui
          build_args: BUILD=${{ env.BUILD }},BUILD_DATE=${{ steps.date.outputs.date }},VCS_REF=${{ env.VCS_REF}},BRANCH=${{ env.BRANCH}},TAG=${{ env.TAG }}
          tag_with_ref: true
      # - name: Build and Push to Packages
      #   if: github.event.pull_request.draft == false
      #   env:
      #     BUILD: ci
      #     # PR: "${{ github.event.pull_request.number }}"
      #     # SHA: "${{ github.event.pull_request.head.sha }}"
      #     # DOCKER_ACTOR: "jsfillman"
      #     # DOCKER_TOKEN: "${{ secrets.GHCR_TOKEN }}"
      #   run: "./.github/workflows/scripts/build-push-develop.sh\n"
